@charset "utf-8";

/* scrollbar */
.c-scrollbar{overflow:auto;position: relative;}
.c-scrollbar::-webkit-scrollbar{border-radius:4px;background:transparent;width:8px;}
.c-scrollbar::-webkit-scrollbar-track{border-radius:0 4px 4px 0;background:#34374c;border-left:1px solid #212332;} 
.c-scrollbar::-webkit-scrollbar-thumb{background-color:#495367;border-radius:4px;background-clip:padding-box;border:1px solid transparent;}
.c-scrollbar::-webkit-scrollbar-thumb:hover{background-color:#778298;}
.c-scrollbar::-webkit-scrollbar:horizontal{height:8px;background:transparent;}
.c-scrollbar::-webkit-scrollbar-thumb:horizontal{background-color: #495367;}
.c-scrollbar::-webkit-scrollbar-thumb:horizontal:hover{background-color:#778298;}

/* tab */
.tab-base{display:flex;}
.tab-base li{width:50%;text-align:center;border:1px solid #212332;border-bottom:0;border-radius:8px 8px 0 0;}
.tab-base li a{display:block;padding:12px 16px;font-size:16px;font-weight:bold;line-height:1.59;color:#b2bbce;background-color:#212332;}
.tab-base li.on{border-color:#34374c;}
.tab-base li.on a{color:#fff;background-color:transparent;}
.panel-base > li{display:none;}

/* icon */
.s-ico{display:inline-block;width:24px;height:24px;vertical-align:middle;background-position:50% 50%;background-repeat:no-repeat;position: relative;}
.s-ico.disabled{opacity:0.3;}
.s-ico.cancel{background-image:url(../img/ico-24-cancel-def.png);}
.s-ico.delete{background-image:url(../img/ico-24-delete-sel.png);}
.s-ico.modify{background-image:url(../img/ico-24-modify-sel.png);}
.s-ico.list{background-image:url(../img/ico-24-list.png);}
.s-ico.regist{background-image:url(../img/ico-24-regist-sel.png);}
.s-ico.download{background-image:url(../img/ico-24-download-sel.png);}
.s-ico.exceldown{background-image:url(../img/ico-24-exceldown-sel.png);}
.s-ico.excelup{background-image:url(../img/ico-24-excelup-sel.png);}
.s-ico.initialize{background-image:url(../img/ico-24-initialize-sel.png);}
.s-ico.reset{background-image:url(../img/ico-24-reset-sel.png);}
.s-ico.search{background-image:url(../img/ico-24-search-sel.png);}
.s-ico.save{background-image:url(../img/ico-24-save-def.png);}
.s-ico.save2{background-image:url(../img/ico-24-save-sel.png);}
.s-ico.storage{background-image:url(../img/ico-24-storage-sel.png);}
.s-ico.edit{background-image:url(../img/ico-24-edit-sel.png);}
.s-ico.transmission{background-image:url(../img/ico-24-transmission-sel.png);}
.s-ico.transmissionx{background-image:url(../img/ico-24-transmissionx-sel.png);}
.s-ico.broadcast{background-image:url(../img/ico-24-broadcast-sel.png);}
.s-ico.poweron{background-image:url(../img/ico-24-poweron-sel.png);}
.s-ico.poweroff{background-image:url(../img/ico-24-poweroff-sel.png);}
.s-ico.in{background-image:url(../img/ico-24-in-def.png);}
.s-ico.out{background-image:url(../img/ico-24-out-def.png);}
.s-ico.repair{background-image:url(../img/ico-24-repair-def.png);}
.s-ico.step{background-image:url(../img/ico-24-step-def.png);}
.s-ico.accept{background-image:url(../img/ico-24-accept-def.png);}
.s-ico.acceptok{background-image:url(../img/ico-24-acceptok-def.png);}
.s-ico.inspection{background-image:url(../img/ico-24-inspection-def.png);}
.s-ico.plan{background-image:url(../img/ico-24-plan-def.png);}
.s-ico.cycle{background-image:url(../img/ico-24-cycle-def.png);}
.s-ico.cyclem{background-image:url(../img/ico-24-cyclem-def.png);}
.s-ico.display{background-image:url(../img/ico-24-display-def.png);}
.s-ico.color{background-image:url(../img/ico-24-color-def.png);}
.s-ico.parameterup{background-image:url(../img/ico-24-parameterup-sel.png);}
.s-ico.parameterdown{background-image:url(../img/ico-24-parameterdown-sel.png);}

.s-ico.search{background-image:url(../img/ico-24-search-sel.png);}
.s-ico.storage{background-image:url(../img/ico-24-storage-sel.png);}

.s-ico.password{background:url(../img/ico-24-password.png) 50% 50% no-repeat;}
.s-ico.bookmark{background:url(../img/ico-24-bookmark-def.png) 50% 50% no-repeat;}
.s-ico.bookmark:hover,
.s-ico.bookmark.on{background:url(../img/ico-24-bookmark-sel.png) 50% 50% no-repeat;}
.s-ico.logout{background:url(../img/ico-24-logout-def.png) 50% 50% no-repeat;}
.s-ico.logout:hover,
.s-ico.logout.on{background:url(../img/ico-24-logout-sel.png) 50% 50% no-repeat;}
.s-ico.home{background:url(../img/ico-16-home-def.png) 50% 50% no-repeat;}
.s-ico.home:hover,
.s-ico.home.on{background:url(../img/ico-16-home-sel.png) 50% 50% no-repeat;}
.s-ico.arrow-l{background:url(../img/ico-16-arrowleft-def.png) 50% 50% no-repeat;}
.s-ico.arrow-r{background:url(../img/ico-16-arrowright-def.png) 50% 50% no-repeat;}
.s-ico.arrow-l.disabled, .s-ico.arrow-l.swiper-button-disabled{background:url(../img/ico-16-arrowleft-dis.png) 50% 50% no-repeat;cursor:default;pointer-events:none;}
.s-ico.arrow-r.disabled, .s-ico.arrow-r.swiper-button-disabled{background:url(../img/ico-16-arrowright-dis.png) 50% 50% no-repeat;cursor:default;pointer-events:none;}
.s-ico.more{background:url(../img/ico-16-plus-def.png) 50% 50% no-repeat;}
.s-ico.close{background:url(../img/ico-16-close-sel.png) 50% 50% no-repeat;width:16px;height:16px;}
.s-ico.close.gray{background:url(../img/ico-16-close.png) 50% 50% no-repeat;width:16px;height:16px;}
.s-ico.close.gray.tp2{background:url(../img/ico-16-close-type2.png) 50% 50% no-repeat;}
.s-ico.star{background:url(../img/ico-16-star-def.png) 50% 50% no-repeat;width:16px;height:16px;}
.s-ico.star.on{background:url(../img/ico-16-star-sel.png) 50% 50% no-repeat;}
.s-ico.info{background:url(../img/ico-24-info.png) 50% 50% no-repeat;}
.s-ico.arrow{background:url(../img/ico-16-arrow.png) 50% 50% no-repeat;width:16px;height:16px;}
.s-ico.choice{background:url(../img/ico-16-choice.png) 50% 50% no-repeat;width:16px;height:16px;}
.s-ico.none{background:url(../img/ico-16-none.png) 50% 50% no-repeat;width:16px;height:16px;}
.s-ico.poi{background:url(../img/ico-bg_poi-point.png) 50% 50% no-repeat;width:26px;height:31px;}

.s-ico.w-label{font-size:14px;font-weight:600;line-height:1.5;color:#b2bbce;width:auto;position: relative;}
.s-ico.w-label::before{content:'';width:24px;height:24px;}
.s-ico.w-label.notify::before{background:url(../img/ico-24-notify-def.png) 50% 50% no-repeat;}
.s-ico.w-label.notify.on::before,
.s-ico.w-label.notify:hover::before{background:url(../img/ico-24-notify-sel.png) 50% 50% no-repeat;}
.s-ico.w-label::before,
.s-ico.w-label span{display:inline-block;vertical-align:middle;margin-left:4px;}
.s-ico.w-label.new::after{content:'';display:inline-block;width:8px;height:8px;border-radius:4px;background-color:#fcbb25;position:absolute;left:18px;top:2px;}

.s-ico.plus, .s-ico.minus{width:40px;height:40px;border-radius:4px;}
.s-ico.plus{background:#34374c url(../img/ico-24-plus-def.png) 50% 50% no-repeat;}
.s-ico.minus{background:#34374c url(../img/ico-24-minus-def.png) 50% 50% no-repeat;}
.s-ico.cctv{width:26px;height:31px;background:url(../img/ico-poi-cctv-def.png) 50% 50% no-repeat;cursor:pointer;}
.s-ico.cctv.on{background:url(../img/ico-poi-cctv-sel.png) 50% 50% no-repeat;}
.s-ico.vds{width:26px;height:31px;background:url(../img/ico-poi-vds-def.png) 50% 50% no-repeat;cursor:pointer;}
.s-ico.vds.on,
.s-ico.vds:hover{background:url(../img/ico-poi-vds-sel.png) 50% 50% no-repeat;}
.map-navi{position:absolute;right:16px;top:50%;transform:translateY(-50%);}
.map-navi > .s-ico{display:block;margin-top:1px;}
.map-navi > .s-ico:first-child{margin-top:0;}

.s-info{display:inline-block;font-size:14px;line-height:1.5;font-weight:600;position:absolute;white-space:nowrap;padding:8px 16px;border-radius: 4px;box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);background-color: rgba(31, 61, 83, 0.91);z-index:1;color:#fff;cursor:default;}
.s-info a{color:#1ac2ff;}
.s-info > span{display:block;}
.s-info > span + ul{margin-top:4px;}
.s-ico .s-info{left:32px;top:34px;display:none;}

/* input - bar */
.input-wrap{position:relative;font-size:0;}
.input-wrap > *{vertical-align:middle;display:inline-block;}
.input-wrap .input-base{width:100%;}
.input-wrap .s-ico.password{position:absolute;right:10px;top:8px;}
.input-wrap.active .s-ico.password{background:url(../img/ico-24-passwordon.png) 50% 50% no-repeat;}
.input-wrap .s-valid{margin-top:8px;}
.input-wrap .label, .input-wrap .bridge{display:inline-block;font-size:14px;font-weight:600;color:#b2bbce;}
.input-wrap .s-label{display:inline-block;font-size:14px;font-weight:600;color:#778298;margin-right:8px;margin-left:12px;}
.input-wrap .s-label:first-child{margin-left:0;}
.input-wrap .unit{color:#778298;font-size:14px;margin-left:8px;display:inline-block;vertical-align:middle;}
.input-wrap .bridge{margin:0 12px;}
.input-wrap .dash{margin:0 8px;color:#778298;font-size:14px;}
.input-wrap .label{margin-right:12px;margin-left:20px;}
.input-wrap .label:first-child{margin-left:0;}
.input-wrap .input-btn{display:flex;gap:0 8px;}
.input-wrap .input-btn .input-base{flex-grow:1;}
.input-wrap .input-btn .btn-base{flex-shrink:0;width:90px;}
.input-wrap .input-btn .btn-base.auto{width:auto;}
.input-wrap .input-btn .btn-base.only-ico{width:auto;}
.input-wrap .input-btn.input-file input[type="file"]{position: absolute;right:0;top:0;width:90px;height:100%;background-color:gold;opacity:0;}
.input-wrap .input-btn.input-file .input-base:disabled + input[type="file"]{display:none;}
.input-wrap .input-mobile{display:flex;align-items:center;}
.input-wrap .input-mobile .bridge{margin:0 8px;}
.input-wrap .input-mobile .input-base{text-align:center;}
.input-wrap .input-email{display:flex;align-items:center;gap:0 8px;}
.input-wrap .input-email .bridge{margin:0;}
.input-wrap > .btns-wrap{display:inline-block;}
.input-wrap > .btns-wrap > .btn-base{margin-left:4px;}
.input-wrap > .btns-wrap > .btn-base:first-child{margin-left:0;}
.input-wrap.full{display:flex;align-items:center;}
.input-wrap.full .input-base{width:50%;}
.input-wrap.input-search{display:flex;gap:0 8px;width:100%;}
.input-wrap.input-search .select-base{flex-shrink:0;}
.input-wrap.input-search .btn-search{flex-shrink:0;}
.input-wrap.input-search .btn-edit{flex-shrink:0;}
.input-wrap.input-search .input-base{flex-grow:1;}
.input-wrap.select-input{display:flex;gap:0 8px;}
.input-wrap.select-input .select-base{flex-shrink:0;}
.input-wrap.select-input .input-base{flex-grow:1;}
.input-wrap.flex{display:flex;justify-content:space-between;align-items:center;}
.input-wrap.flex .input-l{display:flex;align-items:center;}
.input-wrap.select-group{display:flex;gap:0 8px;}

.input-wrap.vms{display:flex;gap:0 8px;align-items:center;}
.input-wrap.vms .color-picker{display:flex;gap:0 2px;padding:6px 8px;background-color:#34374c;border-radius:4px;}
.input-wrap.vms .font-picker{display:flex;gap:0 8px;align-items:center;}
.input-wrap.vms .color-picker a[class*="c-"],
.input-wrap.vms .font-picker a[class*="f-"]{padding:2px;display:inline-block;border-radius:2px;}
.input-wrap.vms .color-picker a[class*="c-"] span,
.input-wrap.vms .font-picker a[class*="f-"] span{display:inline-block;width:16px;height:16px;border-radius:1px;}
.input-wrap.vms .color-picker a[class*="c-"].on,
.input-wrap.vms .color-picker a[class*="c-"]:hover,
.input-wrap.vms .font-picker a[class*="f-"].on,
.input-wrap.vms .font-picker a[class*="f-"]:hover{background-color:#2a2d3e;}

.input-wrap.vms .color-picker a.c-ffffff span{background-color:#ffffff;}
.input-wrap.vms .color-picker a.c-000000 span{background-color:#000000;}
.input-wrap.vms .color-picker a.c-ff00ff span{background-color:#ff00ff;}
.input-wrap.vms .color-picker a.c-0000ff span{background-color:#0000ff;}
.input-wrap.vms .color-picker a.c-00ffff span{background-color:#00ffff;}
.input-wrap.vms .color-picker a.c-ffc000 span{background-color:#ffc000;}
.input-wrap.vms .color-picker a.c-00ff00 span{background-color:#00ff00;}
.input-wrap.vms .color-picker a.c-ff0000 span{background-color:#ff0000;}
.input-wrap.vms .color-picker a.c-signal span{background:url(../img/icon-vms-signal_def.png) 50% 50% no-repeat;}
.input-wrap.vms .color-picker a.c-signal:hover span,
.input-wrap.vms .color-picker a.c-signal.on span{background:url(../img/icon-vms-signal_set.png) 50% 50% no-repeat;}


.input-wrap.vms .font-picker .line{height:31px;width:1px;background-color:#34374c;display:block;}
.input-wrap.vms .font-picker .item{display:flex;gap:0 2px;padding:6px 8px;background-color:#34374c;border-radius:4px;}
.input-wrap.vms .font-picker a.f-bold span{background:url(../img/icon-vms-bold_def.png) 50% 50% no-repeat;}
.input-wrap.vms .font-picker a.f-bold:hover span,
.input-wrap.vms .font-picker a.f-bold.on span{background:url(../img/icon-vms-bold_set.png) 50% 50% no-repeat;}
.input-wrap.vms .font-picker a.f-circle span{background:url(../img/icon-vms-circle_def.png) 50% 50% no-repeat;}
.input-wrap.vms .font-picker a.f-triangle span{background:url(../img/icon-vms-triangle_def.png) 50% 50% no-repeat;}
.input-wrap.vms .font-picker a.f-square span{background:url(../img/icon-vms-square_def.png) 50% 50% no-repeat;}
.input-wrap.vms .font-picker a.f-arrow span{background:url(../img/icon-vms-arrow_def.png) 50% 50% no-repeat;}
.input-wrap.vms .font-picker a.f-circleline span{background:url(../img/icon-vms-circleline_def.png) 50% 50% no-repeat;}
.input-wrap.vms .font-picker a.f-circleban span{background:url(../img/icon-vms-circleban_def.png) 50% 50% no-repeat;}
.auto-layer{position:absolute;left:0;top:40px;z-index:1;width:100%;background-color:#3e4157;padding:4px 0;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);border-radius:4px;}
.auto-layer li{font-size:14px;line-height:1.5;}
.auto-layer li a{display:block;padding:1.5px 16px;color:#b2bbce;}
.auto-layer li a:hover{color:#fff;background-color:#19b2e8;}

.input-base{font-size:14px;font-weight:600;line-height:1.5;padding:8.5px 16px;border-radius: 4px;border: solid 1px #495367;background-color: #3e4157;color:#b2bbce;}
.input-base.w-full{width:100%;}
.input-base:focus{border-color:#00bbfe;}
.input-base:disabled{border: solid 1px #3e4157;background-color: #34374c;}
.input-base.is-value:disabled{background-color: #3e4157;}
.input-base.is-value:disabled:focus{background-color:rgba(26, 194, 255, 0.15);border:1px solid #3e4157;}

.s-valid{font-size:13px;font-weight:600;line-height:20px;color:#ef4345;display:block;}
.s-valid.normal{color:#b2bbce;}
.input-base.error{border-color:#ef4345;}
.input-base:disabled::-webkit-input-placeholder{color:#495367;}
.input-base:disabled::-moz-placeholder{color:#495367;}
.input-base:disabled:-ms-input-placeholder{color:#495367;}
.input-base:disabled:-moz-placeholder{color:#495367;}
.textarea-base{padding:8.5px 16px;border-radius: 4px;border: solid 1px #495367;background-color: #3e4157;color:#b2bbce;width:100%;height:60px;line-height:1.5;}
.textarea-base:disabled{border: solid 1px #3e4157;background-color: #34374c;}
.textarea-base:disabled::-webkit-input-placeholder{color:#495367;}
.textarea-base:disabled::-moz-placeholder{color:#495367;}
.textarea-base:disabled:-ms-input-placeholder{color:#495367;}
.textarea-base:disabled:-moz-placeholder{color:#495367;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  background-color:gold;
}

.input-form > li{display:flex;gap:0 4px;margin-top:8px;}
.input-form > li:first-child{margin-top:0;}
.input-form > li > label{width:60px;font-size:14px;color:#b2bbce;flex-shrink:0;padding-top:13px;}

.input-form > li > .input-wrap{flex-grow:1;}
.form-list > li{margin-top:16px;}
.form-list > li:first-child{margin-top:0;}
.form-list > li label{font-size:14px;line-height:21px;color:#778298;}
.form-list > li .input-wrap{}

/* datepicker */
.tui-datepicker{border-radius:4px;overflow:hidden;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);border: 0;background-color:transparent;z-index:1;}
.tui-datepicker-type-date, .tui-calendar{width:238px;}
.tui-datepicker .tui-calendar{padding-bottom:8px;background-color: rgba(59, 63, 92, 0.95);}
.tui-datepicker-body .tui-timepicker, .tui-datepicker-footer .tui-timepicker{width:238px;}
.tui-calendar .tui-calendar-body{padding-top:8px;}
.tui-calendar th{height:21px;}
.tui-calendar .tui-calendar-body-header th{color:#b2bbce;font-size:13px;}
.tui-calendar td{height:32px;color:#fff;font-size:14px;}
.tui-datepicker-input{height:38px;border:0;width:200px;}
.tui-datepicker-input > input{padding:10px 27px 10px 16px;font-size:14px;color:#b2bbce;border-radius:4px;background-color:#3e4157;border:1px solid #495367;}
.tui-datepicker-input > input:disabled{background-color:rgba(79, 82, 107, 0.3);color:rgba(255, 255, 255, 0.3);}
.tui-calendar .tui-calendar-title{color:#fff;}
.tui-calendar .tui-calendar-title-today{font-size:14px;}
.tui-calendar .tui-calendar-title-today,
.tui-calendar .tui-calendar-title-today:hover{background-color: rgba(0, 0, 0, 0.1);color:#fff;}
.tui-calendar .tui-calendar-header{border-bottom:0;}
.tui-calendar .tui-calendar-btn-prev-month:after{background:url(../img/ico-16-arrowleft-def.png) 50% 50% no-repeat;}
.tui-calendar .tui-calendar-btn-next-month:after{background:url(../img/ico-16-arrowright-def.png) 50% 50% no-repeat;}
.tui-calendar-btn{background-color: transparent;}
.tui-datepicker .tui-is-selectable.tui-is-selected, .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected{background-color:#00bbfe;border-radius:4px;}
.tui-datepicker.tui-rangepicker .tui-is-selected-range{background-color:rgba(26, 194, 255, 0.15);color:#fff;}
.tui-datepicker .tui-is-selectable:hover{/*-color:rgba(255, 255, 255, 0.1);color:#fff;border-radius:4px;*/background-color:inherit;color:#fff;}
.tui-calendar .tui-calendar-today{color:#00bbfe;}
.tui-calendar .tui-calendar-today:hover{color:#00bbfe;}
.tui-datepicker-input.tui-has-focus .tui-ico-date{background-position:0 0;width:24px;height:24px;right:8px;top:8px;margin:0;background-image:url(../img/ico-24-calendar-def.png);}
.tui-datepicker-input.tui-has-focus input:focus + .tui-ico-date{background-image:url(../img/ico-24-calendar-act.png);}
.tui-datepicker-input.tui-has-focus input:disabled + .tui-ico-date{background-image:url(../img/ico-24-calendar-dis.png);}
.tui-calendar-header-info{display:none;}

/* ax5grid */
/* ax5grid - thead th */
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"]{border:0;background-color:transparent;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"]{border-bottom:0;background-image:none;background-color:transparent;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] [data-ax5grid-panel-scroll]{border-radius:4px 4px 0 0;overflow:hidden;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td{background-color:#f1f2f6;box-shadow:none;border-top:1px solid #7692c2;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td:hover{background-color:#f1f2f6;background-image:none;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel][data-ax5grid-panel="left-header"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel][data-ax5grid-panel="top-left-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel][data-ax5grid-panel="left-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel][data-ax5grid-panel="bottom-left-body"]{border-right:1px solid #7692c2;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td.hasBorder{border:0;border-bottom:1px solid #212332;background-color:#3e4157;color:#778298;font-size:14px;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder]{font-size:12px;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td[colspan="2"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td[colspan="3"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td[colspan="4"]{border-bottom:1px solid #34374c;/*border-left:1px solid #34374c;*/}
/* .cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td[colspan="1"] + td[colspan="2"]{border-left:0;} */

/* ax5grid - thead th - checkbox */
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel][data-ax5grid-panel="aside-header"]{border-right:0;text-align:center;}
/* ax5grid - thead th - span */
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder]{position:relative;display:flex;align-items:center;justify-content:center;flex-direction:row-reverse;gap:0 5px;}
/* .cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort]{position:absolute;right:0;top:50%;transform:translateY(-50%);} */
/* ax5grid - thead th - sortable */
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort]:before{border-bottom-color:#778298;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort]:after{border-top-color:#778298;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort][data-ax5grid-column-sort-order="desc"]:after{border-top-color:#778298;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort][data-ax5grid-column-sort-order="asc"]:before{border-bottom-color:#778298;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort]:before{opacity:1;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort]:after{opacity:1;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort][data-ax5grid-column-sort-order="desc"]:after{border-left:3px solid transparent;border-right:3px solid transparent;border-top:4px solid #778298;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-column-sort][data-ax5grid-column-sort-order="asc"]:before{border-left:3px solid transparent;border-right:3px solid transparent;border-bottom:4px solid #778298;}

/* ax5grid - tbody checkbox */
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="aside-body"]{border-right:0;background-color:#fff;;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="top-aside-body"] table tr td,
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="aside-body"] table tr td,
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-aside-body"] table tr td{border:0;}

/* ax5grid - tbody tr & td */
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.tr-0,
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.tr-2{background-color:#fff;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.tr-1,
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.tr-3{background-color:#f8fafe;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td{border-bottom:1px solid #eaeef2;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.hasBorder{border:0;background-color: #34374c;border-bottom:1px solid #212332;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr:last-child td,
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr:last-child td.hasBorder{border-bottom:0;}

.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed td [data-ax5grid-cellHolder]{color:#b2bbce;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.red td{background-color:#3d2f3e;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.green td{background-color:#273b3d;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.orange td{background-color:#3f3b3b;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.red:hover td{background-color:#653340;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.green:hover td{background-color:#20583b;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.orange:hover td{background-color:#695736;}

.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.red td [data-ax5grid-cellHolder]{color:#ef4345;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.green td [data-ax5grid-cellHolder]{color:#0bbe35;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.speed.orange td [data-ax5grid-cellHolder]{color:#fcbb25;}

.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.row-state.grid-state .state-ico{font-size:14px;}

.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder]{font-size:14px;font-weight:600;color:#fff;line-height:1.5;}

/* ax5grid - tbody tr - frozenIndex */
/* .cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel]{border-left:1px solid #7692c2;} */
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="top-aside-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="top-left-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="top-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="top-right-body"]{border-bottom:1px solid #7692c2;}

.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="left-header"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="top-left-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="left-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-left-body"]{border-right:1px solid #7692c2;}

.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td[data-ax5grid-column-row="null"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td[data-ax5grid-column-row="null"]{background-color: #34374c;border-bottom:1px solid #212332;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr:last-child td{border-bottom:0;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td[data-ax5grid-column-row="null"]{background-color: #3e4157;border-top:0;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="scroller"] [data-ax5grid-scroller="vertical"] [data-ax5grid-scroller="vertical-bar"]{background-color: #495367;border-radius:3px;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="scroller"] [data-ax5grid-scroller="vertical"]{background-color:#34374c;border-left:1px solid #212332;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="scroller"] [data-ax5grid-scroller="vertical"] [data-ax5grid-scroller="vertical-bar"]:hover{background-color:#778298;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="scroller"] [data-ax5grid-scroller="horizontal"]{background:#34374c;border-top:1px solid #212332;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="scroller"] [data-ax5grid-scroller="horizontal"] [data-ax5grid-scroller="horizontal-bar"]{background-color: #495367;border-color:#212332;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="scroller"] [data-ax5grid-scroller="horizontal"] [data-ax5grid-scroller="horizontal-bar"]:hover{background-color:#778298;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="scroller"] [data-ax5grid-scroller="corner"]{background-color: #34374c;border-color:#212332;}

/* ax5grid - tbody tr & td - customize */
.cs-ax5grid[data-ax5grid] .txt-link{color:#0475f4;text-decoration:underline;cursor:pointer;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr:hover td,
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr.checked td{background-color: #304c67;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.grid-state [data-ax5grid-cellHolder][data-ax5grid-text-align="center"]{font-size:0;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.grid-state .state-ico{display:inline-block;position:relative;font-size:12px;line-height:17px;padding-left:12px;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.grid-state .state-ico:before{content:'';display:block;width:8px;height:8px;border-radius:4px;position:absolute;left:0;top:50%;margin-top:-4px;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.grid-state.red .state-ico:before{background-color:#ef4345;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.grid-state.orange .state-ico:before{background-color:#fcbb25;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.grid-state.green .state-ico:before{background-color:#0bbe35;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.grid-state.normal .state-ico:before{background-color:#b2bbce;}

.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td.grid-state.no .state-ico{padding-left:0;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td[data-ax5grid-column-focused]{box-shadow:none;}
.cs-ax5grid[data-ax5grid] .multi-line-cell {
  white-space: normal !important; /* 줄 바꿈 허용 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 줄 수 설정 */
  -webkit-box-orient: vertical;
}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder]:has(.st-box){
  padding:0;
  
}
.cs-ax5grid[data-ax5grid] .st-box {
  display: flex; align-items: center; justify-content: center;
  font-size: 14px;font-weight: 600; height: 42px;
}
.cs-ax5grid[data-ax5grid] .st-box.red {
  background-color: #46384b;color: #ef4345;
}
.cs-ax5grid[data-ax5grid] .st-box.orange {
  background-color: rgba(252, 187, 37, 0.1);color: #fcbb25;
}
.cs-ax5grid[data-ax5grid] .st-box.green {
  background-color: rgba(11, 190, 53, 0.1);color: #0bbe35;
}
.cs-ax5grid[data-ax5grid] .s-label {
  font-size: 14px;color:#fff;line-height:1.5;display:inline-block;padding:2px 8px;border-radius:16px;background-color:#923d48;
}
.cs-ax5grid[data-ax5grid] .s-ox img{vertical-align:middle;}
.cs-ax5grid[data-ax5grid] .no-result {
  display: block;
  padding: 20px 0;
}
/* ax5grid - no data */
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-aside-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-left-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-right-body"]{background-color:#fff;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-left-body"]{border-right:0;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-body"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel][data-ax5grid-panel="bottom-left-body"]{border-top:1px solid #e7eaee;}

/* ax5grid - checkbox (built-in) */
.cs-ax5grid[data-ax5grid] input[type="radio"], .cs-ax5grid[data-ax5grid] input[type="checkbox"]{margin:0;}
.cs-ax5grid[data-ax5grid] input[type="checkbox"]{width:20px;height:20px;-webkit-appearance:none;}
.cs-ax5grid[data-ax5grid] input[type="checkbox"]:focus{outline:none;}
.cs-ax5grid[data-ax5grid] input[type="checkbox"],
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder] [data-ax5grid-editor="checkbox"]{background:url(../img/check-def.png) 0 0 no-repeat;border:0;vertical-align:middle;}
.cs-ax5grid[data-ax5grid] input[type="checkbox"]:checked,
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder] [data-ax5grid-editor="checkbox"][data-ax5grid-checked="true"]{background:url(../img/check-sel.png) 0 0 no-repeat;}
.cs-ax5grid[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel] table tr td [data-ax5grid-cellHolder] [data-ax5grid-editor="checkbox"][data-ax5grid-checked="true"]:after{display:none;}

/* ax5grid - bug */
.cs-ax5grid.tp2[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"]{background-image: none;}
.cs-ax5grid.tp2[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel]{width:300px !important;}
.cs-ax5grid.tp2[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="body"] [data-ax5grid-panel]{width:300px !important;}
.cs-ax5grid.tp2[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="scroller"] [data-ax5grid-scroller="horizontal"]{width:300px !important;right:0 !important;}

/* input - checkbox */
.chk-list{display:flex;gap:0 16px;}
.chk-base{position:relative;display:inline-block;height:20px;}
.chk-base input{position:absolute;display:none;}
.chk-base input + label{position:relative;padding-left:28px;font-size:14px;display:inline-block;line-height:20px;vertical-align:middle;color:#b2bbce;}
.chk-base input + label:before{content:'';display:block;width:20px;height:20px;position:absolute;left:0;top:0;background:url(../img/check-def.png) 0 0 no-repeat;}
.chk-base input:checked + label:before{background:url(../img/check-sel.png) 0 0 no-repeat;}
.chk-base input:disabled + label:before{background:url(../img/check-dis.png) 0 0 no-repeat;}
.chk-base input:checked:disabled + label:before{background:url(../img/check-disv.png) 0 0 no-repeat;}
.chk-base.chk-only{vertical-align:middle;}
.chk-base.chk-only input + label{padding-left:0;font-size:0;width:20px;height:20px;vertical-align:middle;}
.chk-vertical > li{padding:8.5px 12px;position: relative;}
.chk-vertical > li.on, .chk-vertical > li:hover{background-color:rgba(26, 194, 255, 0.15);}
.chk-tit{padding:8px 12px;font-size:14px;line-height:21px;color:#778298;}
.chk-vertical + .chk-tit{margin-top:4px;}
.chk-vertical.tp2 > li{padding:4.5px 24px;}
.chk-vertical > li.list-group-item{cursor:pointer;}
.chk-vertical > li.list-group-item::after{content:'';display:inline-block;width:24px;height:24px;background:url(../img/ico-24-move-def.png) 50% 50% no-repeat;position:absolute;right:12px;top:8px;}
.chk-vertical > li.disabled{/*background-color: #2a2d3e;*/cursor:default;}
.chk-vertical > li.disabled .chk-base input + label{color:#778298;}
.chk-vertical > li.disabled.list-group-item::after{background:url(../img/ico-24-move-dis.png) 50% 50% no-repeat;}

/* input - radio */
.radio-list{display:flex;gap:0 16px;}
.radio-base{position:relative;display:inline-block;}
.radio-base input{position:absolute;display:none;}
.radio-base input + label{position:relative;padding-left:28px;font-size:14px;font-weight:500;color:#b2bbce;display:inline-block;line-height:20px;vertical-align:middle;}
.radio-base input + label:before{content:'';display:block;width:20px;height:20px;position: absolute;left:0;top:0;background:url(../img/radio-def.png) 0 0 no-repeat;}
.radio-base input:checked + label:before{background:url(../img/radio-sel.png) 0 0 no-repeat;}
.radio-base input:disabled + label:before{background:url(../img/radio-dis.png) 0 0 no-repeat;}
.radio-base input:checked:disabled + label:before{background:url(../img/radio-disv.png) 0 0 no-repeat;}

/* button */
.btn-base{display:inline-block;vertical-align:middle;}
.btn-base > *{display:block;text-align:center;width:100%;font-size:14px;line-height:1.5;border:0;cursor:pointer;background-color:#22779f;color:#fff;border-radius:4px;padding:9.5px 16px;font-weight:600;}
.btn-base > *:hover{background-color:#1ac2ff;}
.btn-base.lg > *{font-size:16px;padding:10px 16px;width:100%;}
.btn-base.gray > *{background-color:#3e4157;color:#b2bbce;}
.btn-base.disabled > *{background-color:#3e4157;color:#778298;cursor:default;pointer-events:none;}
.btn-base.btn-ico em{font-style:normal;font-weight:inherit;display:inline-block;padding-left:32px;position: relative;}
.btn-base.btn-ico em .s-ico{position:absolute;left:0;top:-2px;}
.btn-base.btn-ico.gray em .s-ico,
.btn-base.btn-ico.disabled em .s-ico{opacity:0.3;}
.btn-base.only-ico{width:auto;}
.btn-base.only-ico > *{padding:8px;}
.btn-base.only-ico em{padding-left:0;}
.btn-base.only-ico em .s-ico{position: static;}
.btn-base.on > *{background-color:#1ac2ff;color:#fff;}
.btns-wrap{display:flex;gap:0 8px;}
.btns-wrap.center{justify-content:center;}
.btns-wrap.right{justify-content:end;}
.btn-switch{display:inline-block;width:36px;height:18px;background:url(../img/ico-switch-off.png) 0 0 no-repeat;vertical-align:middle;}
.btn-switch.on{background:url(../img/ico-switch-on.png) 0 0 no-repeat;}
.btn-base.btn-search > *{padding:8px;}

.progress-area{width:100%;height:4px;background-color:#34374c;position:absolute;left:0;bottom:0;}
.progress-area .gage{display:inline-block;position: absolute;background-color:#00bbfe;height:100%;}

/* table */
.tb-list{width:100%;table-layout:fixed;}
.tb-list th, .tb-list td{font-size:14px;font-weight:600;line-height:1.5;border-bottom:1px solid #212332;}
.tb-list th{color:#778298;text-align:left;background-color:#3e4157;padding:5.5px 4px;}
.tb-list td{padding:11px 4px;color:#b2bbce;background-color:#34374c;}
.tb-list th:first-child{border-top-left-radius:4px;}
.tb-list th:last-child{border-top-right-radius:4px;}
.tb-list th:first-child,
.tb-list td:first-child{padding-left:16px;}
.tb-list th:last-child,
.tb-list td:last-child{padding-right:16px;}
.tb-list td .status::before{content:'';display:inline-block;width:8px;height:8px;border-radius:4px;margin-right:4px;}
.tb-list td .on{coloR:#fff;}
.tb-list tr.st1 td{background-color:rgba(11, 190, 53, 0.1);color:#0bbe35;}
.tb-list tr.st1 td .status::before{background-color:#0bbe35;}
.tb-list tr.st2 td{background-color:rgba(252, 187, 37, 0.1);color:#fcbb25;}
.tb-list tr.st2 td .status::before{background-color:#fcbb25;}
.tb-list tr.st3 td{background-color:rgba(239, 67, 69, 0.1);color:#ef4345;}
.tb-list tr.st3 td .status::before{background-color:#ef4345;}

/* paging */
.total-wrap{display:flex;justify-content:space-between;align-items: center;}
.total-wrap .total{display:flex;gap:0 8px;font-weight:bold;}
.total-wrap .total span{font-size:14px;line-height:21px;}
.total-wrap .total .label, .total-wrap .total .unit{color:#566076;}
.total-wrap .total .count{color:#1ac2ff;}
.total-wrap .paging-area{display:flex;align-items:center;}
.total-wrap .paging{font-size:14px;line-height:21px;color:#778298;display:flex;gap:0 8px;align-items:center;margin:0 8px;}
.total-wrap .paging .current{border:1px solid #dcdee2;padding:8px 16px;border-radius:4px;}
.total-wrap .paging input.current{width:49px;padding:5px 16px;transition:border-color 0.2s;text-align:center;background-color:#34374c;border:1px solid #3e4157;color:#fff;font-size:14px;}
.total-wrap .paging input.current:focus{border-color:#2962ff;}
.total-wrap .paging-area [class*="btn-"]{width:24px;height:24px;background-position:50% 50%;background-repeat:no-repeat;display:block;}
.total-wrap .paging-area [class*="btn-"].disabled{opacity:0.5;cursor:default;pointer-events:none;}
.total-wrap .paging-area .btn-first{background-image:url(../img/ico-24-page-first-def.png);}
.total-wrap .paging-area .btn-prev{background-image:url(../img/ico-24-page-prev-def.png);}
.total-wrap .paging-area .btn-next{background-image:url(../img/ico-24-page-next-def.png);}
.total-wrap .paging-area .btn-last{background-image:url(../img/ico-24-page-end-def.png);}
/*
.total-wrap .paging-area .btn-first:not(.disabled):hover{background-image:url(../img/ico-first-b.png);}
.total-wrap .paging-area .btn-prev:not(.disabled):hover{background-image:url(../img/ico-prev-b.png);}
.total-wrap .paging-area .btn-next:not(.disabled):hover{background-image:url(../img/ico-next-b.png);}
.total-wrap .paging-area .btn-last:not(.disabled):hover{background-image:url(../img/ico-last-b.png);}
*/

/* toast */
.toast-area{position: absolute;bottom:16px;right:16px;width:750px;}
.toast-area .toast{border-radius: 4px;-webkit-backdrop-filter: blur(4px);backdrop-filter: blur(4px);box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);background-color: #203b51;padding:16px 40px 16px 16px;margin-top:8px;}
.toast-area .toast:first-child{margin-top:0;}
.toast-area .toast .info-area{display:flex;gap:0 8px;align-items:center;}
.toast-area .toast .info-area .s-ico.info{flex-shrink:0;}
.toast-area .toast .info-area .info-box{flex-grow:1;}
.toast-area .toast .info-area .info-box .info-top{display:flex;justify-content:space-between;font-size:12px;font-weight:600;color:#b2bbce;line-height:1.5;}
.toast-area .toast .info-area .info-box .info-content{font-size:14px;line-height:21px;color:#fff;font-weight:600;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical; word-wrap:break-word;overflow:hidden;max-height:42px;padding-right:40px;}
.toast-area .toast .s-ico.close{position: absolute;right:16px;top:16px;}
.toast-area .t-tab-wrap{display:flex;justify-content:space-between;}
.toast-area .t-tab-wrap .t-tab-l, .toast-area .t-tab-wrap .t-tab-r{display:flex;}
.toast-area .t-tab-wrap .t-tab-l{gap:0 8px;}
.toast-area .t-tab-wrap .t-tab-r{}
.toast-area .t-tab-wrap a{color:#fff;padding:4px 4px 4px 12px;background-color:#2d5a79;border-radius:16px;display:flex;height:32px;align-items:center;justify-content:space-between;gap:0 8px;}
.toast-area .t-tab-wrap a .num{display:flex;min-width:24px;height:24px;background-color: #fff;font-size:14px;color:#495367;border-radius:12px;justify-content:center;align-items:center;font-weight:600;padding:0 4px;}
.toast-area .t-tab-wrap a .arrow{display:inline-block;width:16px;height:16px;background:url(../img/ico-16-more-def.png) 50% 50% no-repeat;}
.toast-area .t-tab-wrap a.on{background-color:#1ac2ff;}
.toast-area .t-tab-wrap a.on .num{color:#1ac2ff;}

/* modal */
.modal-wrap{position: absolute;padding: 8px;border-radius: 4px;-webkit-backdrop-filter: blur(4px);backdrop-filter: blur(4px);box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);border: solid 1px rgba(26, 194, 255, 0.15);background-color: rgba(33, 35, 50, 0.9);}
.modal-wrap.tp2{border: solid 1px rgba(239, 67, 69, 0.3);padding:16px 12px 12px;}
.modal-top{display:flex;justify-content:space-between;}
.modal-top .tit{font-size:14px;font-weight:600;line-height:1.5;color:#b2bbce;}
.modal-content{margin-top:8px;}
.modal-tab{display:flex;align-items:center;}
.modal-tab li a{display:block;font-size:14px;color:#fff;line-height:1.5;font-weight:600;border-radius: 16px;padding:2px 8px;}
.modal-tab li.on a{background-color: rgba(239, 67, 69, 0.3);}
.modal-list{border-radius:2px;overflow:hidden;}
.modal-list > li{display:flex;justify-content:space-between;padding:4px 8px;background-color: #2a2d3e;margin-top:1px;align-items:center;}
.modal-list > li:first-child{margin-top:0;}
.modal-list > li .label{font-size:13px;line-height:1.5;color:#b2bbce;}
.modal-list > li .result{font-size:13px;line-height:1.5;color:#fff;font-weight:600;text-align:right;}

/* select */
.select-base{width:100%;height:40px;border-radius: 4px;border: solid 1px #495367;background-color: #3e4157;color:#778298;padding:0 16px;font-size:14px;color:#b2bbce;background-image:url(../img/ico-24-arrow-on.png);background-repeat:no-repeat;background-position:calc(100% - 8px) 50%;}
.select-base.sm{height:32px;}
.select-base:focus{border-color:#00bbfe;}
.select-base.no-value{color:#778298;}
.select-base:disabled{border: solid 1px #3e4157;background-color: #34374c;color:#495367;background-image:url(../img/ico-24-arrow-off.png);}

/* popup */
.mfp-wrap{-webkit-overflow-scrolling:touch}
.mfp-zin.mfp-bg,
.mfp-slide-b.mfp-bg{opacity:0;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out;}
.mfp-zin.mfp-bg.mfp-ready,
.mfp-slide-b.mfp-bg.mfp-ready,
.fade-slideup.mfp-bg.mfp-ready,
.fade-slideleft.mfp-bg.mfp-ready{-webkit-backdrop-filter: blur(6px);backdrop-filter: blur(6px);background-color: rgba(0, 0, 0, 0.4);opacity:1;}
.mfp-zin.mfp-bg.mfp-removing,
.mfp-slide-b.mfp-bg.mfp-removing{opacity:0;}
.mfp-zin .z-anim{opacity:0;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(0.8);transform:scale(0.8);}
.mfp-zin.mfp-ready .z-anim{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
.mfp-zin.mfp-removing .z-anim{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:0;}
.mfp-slide-b .z-anim{opacity:0;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;-webkit-transform:translateY(-20px) perspective(600px) rotateX(10deg);transform:translateY(-20px) perspective(600px) rotateX(10deg);}
.mfp-slide-b.mfp-ready .z-anim{opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);}
.mfp-slide-b.mfp-removing .z-anim{opacity:0;-webkit-transform:translateY(-10px) perspective(600px) rotateX(10deg);transform:translateY(-10px) perspective(600px) rotateX(10deg);}
.popup-wrap{position:relative;background:#2a2d3e;margin:20px auto;border-radius:10px;}

.fade-slideup .popup-wrap{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:translateY(100%);transform:translateY(100%);}
.fade-slideup.mfp-ready .popup-wrap{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.fade-slideup.mfp-removing .popup-wrap{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);}

.fade-slideleft .popup-wrap{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:translateX(100%);transform:translateX(100%);}
.fade-slideleft.mfp-ready .popup-wrap{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
.fade-slideleft.mfp-removing .popup-wrap{opacity:0;-webkit-transform:translateX(100%);transform:translateX(100%);}

.popup-wrap.fullpage{margin:0;min-height:100vh;}
[class*=popup-wrap] button.mfp-close,
.popup-wrap button.mfp-arrow{width:24px;height:24px;background:url(../img/ico-24-close.png) 50% 50% no-repeat;top:20px;right:20px;font-size:0;}
[class*=popup-wrap] .con-wrap{position:relative;color:#fff;padding:20px;}
[class*=popup-wrap] .con-wrap .tit{font-size:16px;font-weight:bold;color:#b2bbce;line-height:1.5;margin-bottom:24px;}

.info-list > li{background-color: #34374c;border-radius:4px;color:#778298;font-size:14px;line-height:1.5;font-weight:600;}
.info-list > li dt{padding:11.5px 12px;border-bottom:1px solid #212332;display:flex;justify-content:space-between;align-items:center;}
.info-list > li dt .no em{color:#1ac2ff;}
.info-list > li dd{padding:8px 12px;}

.fix-bottom{overflow:hidden !important;}/* 스크롤 버그 해결 */
.fix-bottom .mfp-content{vertical-align:bottom;}
.fix-bottom .mfp-container{height:auto;top:inherit;bottom:0;}
.fix-bottom .popup-wrap{margin:0 auto;min-height:auto;border-radius:10px 10px 0 0;}
.fix-bottom .popup-wrap button.mfp-close,
.fix-bottom .popup-wrap button.mfp-arrow{right:20px;}

.fix-right{overflow:hidden !important;}/* 스크롤 버그 해결 */
.fix-right .mfp-container{height:100%;top:0;left:initial;right:0;width:auto;}
.fix-right .mfp-content{height:100%;}
.fix-right .popup-wrap{margin:0;min-height:auto;border-radius:10px 0 0 10px;height:100%;}
.fix-right .popup-wrap button.mfp-close,
.fix-right .popup-wrap button.mfp-arrow{top:86px;}
.fix-right .popup-wrap .con-wrap{padding:86px 20px 20px;}

.tb-wrap{border-radius:4px;overflow:hidden;}
.tb-input{width:100%;table-layout:fixed;}
.tb-input > tbody > tr > th, .tb-input > tbody > tr > td{padding:8px 12px;font-size:14px;line-height:21px;text-align:left;border-bottom:1px solid #212332;border-bottom:1px solid #212332;}
.tb-input > tbody > tr > th{background-color:#3e4157;color:#778298;border-left:1px solid #212332;}
.tb-input > tbody > tr > th:first-child{border-left:0;}
.tb-input > tbody > tr > th.bl{border-left:1px solid #34364c;border-top:1px solid #34364c;}
.tb-input > tbody > tr > th.bb{border-bottom:1px solid #34364c;}
.tb-input > tbody > tr > th em.ico{display:inline-block;vertical-align:middle;position: relative;top:5px;}
.tb-input > tbody > tr > th em.primary{font-weight:inherit;color:#19b2e8;}
.tb-input > tbody > tr > td{background-color:#34374c;color:#fff;border-left:1px solid #212332;}
.tb-input.tb-center > tbody > tr > td{text-align:center;}
.tb-input.tp2 > tbody > tr > th{background-color:#34374c;padding:8px 12px;}
.tb-input.tp2 > tbody > tr > td{border-left:0;padding:8px 12px 8px 8px;}
.tb-input > tbody > tr.row-screen td{height:103px;}

.tb-div-wrap{border-radius:4px;overflow:hidden;}
.tb-div,
.tb-div-foot{display:flex;}
.tb-div > .columnGroup,
.tb-div-foot > .columnGroup{flex-grow:1;position:relative;}
.tb-div > .columnGroup.disabled,
.tb-div-foot > .columnGroup.disabled{width:160px;flex-shrink:0;flex-grow:initial;}
.tb-div > .columnGroup > .columnCell,
.tb-div-foot > .columnGroup > .columnCell{display:flex;align-items:center;justify-content:center;padding:8px 12px;background-color:#34374c;border-top:1px solid #212332;border-left:1px solid #212332;}
.tb-div > .columnGroup > .columnCell{height:63px;}
.tb-div-foot > .columnGroup > .columnCell{height:44px;}
.tb-div > .columnGroup > .columnCell:nth-child(3){height:103px;}
.tb-div > .columnGroup.foot > .columnCell{height:44px;}
.tb-div > .columnGroup:nth-child(1) > .columnCell,
.tb-div-foot > .columnGroup:nth-child(1) > .columnCell{background-color:#3e4157;justify-content:flex-start;border-left:0;color:#778298;gap:0 4px;font-weight:600;}
.tb-div-foot > .columnGroup > .columnCell em{font-weight:inherit;}
.tb-div-foot > .columnGroup > .columnCell .primary{color:#19b2e8;}
.tb-div > .columnGroup::before{content:'';width:100%;height:100%;border:1px solid #1ac2ff;position: absolute;left:0;top:0;display:none;}
.tb-div > .columnGroup.sortable-chosen::before{display:block;}
.tb-div-foot{display:flex;}

/* counter */
.counter-base{display:inline-block;font-size:0;padding:8.5px 16px;background-color: #3e4157;border-radius:4px;position:relative;vertical-align:middle;border:1px solid #495367;width:110px;}
.counter-base input{font-size:14px;font-weight:600;color:#778298;background-color:transparent;border:0;width:100%;}
.counter-base input.active{color:#b2bbce;}
.counter-base button{font-size:0;background-position:0 0;background-repeat:no-repeat;width:16px;height:9px;position:absolute;right:8px;}
.counter-base .btn-plus{background-image:url(../img/ico-16-arrow-up.png);top:9px;}
.counter-base .btn-minus{background-image:url(../img/ico-16-arrow-down.png);bottom:9px;}
.counter-base.on{border:1px solid #008fff;}

/* register */
.register-area{display:flex;align-items:center;gap:0 8px;}
.register-area .register-tit{flex-shrink:0;font-size:14px;line-height:21px;color:#778298;}
.register-area .register-wrap{flex-grow:1;}
.register-wrap{background-color:#3e4157;padding:10px;max-height:139px;overflow-y:auto;border-radius:4px;min-height:66px;}
.register-wrap.tp2{max-height:64px;min-height:64px;}
.register-wrap::-webkit-scrollbar{background:transparent;width:10px;}
.register-wrap::-webkit-scrollbar-track{background:transparent;} 
.register-wrap::-webkit-scrollbar-thumb{background-color:#495367;background-clip:padding-box;border-width:4px 2.5px;border-style:solid;border-color:transparent;border-radius:8px;}
.register-wrap::-webkit-scrollbar-thumb:hover{background-color:#778298;}
.register-wrap li{font-size:14px;line-height:21px;color:#b2bbce;margin-top:4px;display:flex;gap:0 4px;align-items:center;}
.register-wrap li:first-child{margin-top:0;}

/* tooltip */
.ui-tooltip {
  position: absolute;
  padding: 8px;
  color: #fff;
  border-radius: 4px;
  background: #212332;
  max-width: 250px;
  opacity: 1;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* message */
.message-list{display:flex;gap:8px;margin-top:8px;}
.message-list li{padding:3px 12px;font-size:14px;line-height:1.5;border-radius: 16px;background-color: #304c67;}

/* table - meterial */
.gage-wrap{position: relative;height:8px;border-radius:4px;background-color:#212332;overflow:hidden;width:100%;}
.gage-wrap .gage{position: absolute;display:inline-block;height:8px;background-color: #00bbfe;left:0;top:0;border-radius:4px;}