@charset "utf-8";

#dashboard-wrap{width:3840px;position:relative;overflow-y:auto;height:100vh;}
.d-map{width:100%;height:100%;position:absolute;}
.d-header{padding:33px 60px;position: absolute;left:0;top:0;width:100%;height:120px;background-image: linear-gradient(to bottom, #212332, rgba(16, 16, 16, 0));display:flex;justify-content:space-between;z-index:1;}
.d-header .item-area{display:flex;align-items:center;gap:0 16px; }
.d-header .item-area .date{font-size:20px;font-weight:600;color:#b2bbce;}
.d-header .item-area .time{font-size:32px;color:#fff;line-height:1.49;font-weight:bold;}
.d-header .map-item-panel{position:relative;display:flex;background-color:transparent;left:initial;top:initial;width:1040px;height:87px;justify-content:center;}
.d-header .map-item-panel::after{content:'';background-image: linear-gradient(to right, rgba(26, 194, 255, 0), #1ac2ff 28%, #1ac2ff 28%, rgba(26, 194, 255, 0));width:100%;height:2px;position:absolute;left:0;bottom:0;}
.d-header .map-item-panel ul{display:flex;gap:0 8px;display:none;}
.d-header .map-item-panel li{margin-top:0;width:80px;flex-shrink:0;text-align:center;position: relative;}
.d-header .map-item-panel li.time{width:103px;}
.d-header .map-item-panel li.car{width:89px;}
.d-header .map-item-panel li.vmsdisplay{width:96px;}
.d-header .map-item-panel li.lcsdisplay{width:91px;}
.d-header .map-item-panel li a::before{width:32px;height:32px;}
.d-header .map-item-panel li a{font-size:17px;font-weight:600;line-height:1.4;}
/* .d-header .map-item-panel li a span{white-space:nowrap;position:absolute;left:50%;transform:translateX(-50%);} */
.d-header .map-item-panel li.traffic a::before{background-image:url(../img/d/ico-16-traffic-def.png);}
.d-header .map-item-panel li.on.traffic a::before{background-image:url(../img/d/ico-16-traffic-sel.png);}
.d-header .map-item-panel li.call a::before{background-image:url(../img/d/ico-16-call-def.png);}
.d-header .map-item-panel li.on.call a::before{background-image:url(../img/d/ico-16-call-sel.png);}
.d-header .map-item-panel li.cctv a::before{background-image:url(../img/d/ico-16-cctv-def.png);}
.d-header .map-item-panel li.on.cctv a::before{background-image:url(../img/d/ico-16-cctv-sel.png);}
.d-header .map-item-panel li.vms a::before{background-image:url(../img/d/ico-16-vds-def.png);}
.d-header .map-item-panel li.on.vms a::before{background-image:url(../img/d/ico-16-vds-sel.png);}
.d-header .map-item-panel li.rwis a::before{background-image:url(../img/d/ico-16-dwis-def.png);}
.d-header .map-item-panel li.on.rwis a::before{background-image:url(../img/d/ico-16-dwis-sel.png);}
.d-header .map-item-panel li.lcs a::before{background-image:url(../img/d/ico-16-lcs-def.png);}
.d-header .map-item-panel li.on.lcs a::before{background-image:url(../img/d/ico-16-lcs-sel.png);}
.d-header .map-item-panel li.time a::before{background-image:url(../img/d/ico-16-time-def.png);}
.d-header .map-item-panel li.on.time a::before{background-image:url(../img/d/ico-16-time-sel.png);}
.d-header .map-item-panel li.car a::before{background-image:url(../img/d/ico-16-car-def.png);}
.d-header .map-item-panel li.on.car a::before{background-image:url(../img/d/ico-16-car-sel.png);}
.d-header .map-item-panel li.vmsdisplay a::before{background-image:url(../img/d/ico-16-vdsdisplay-def.png);}
.d-header .map-item-panel li.on.vmsdisplay a::before{background-image:url(../img/d/ico-16-vdsdisplay-sel.png);}
.d-header .map-item-panel li.lcsdisplay a::before{background-image:url(../img/d/ico-16-lcsdisplay-def.png);}
.d-header .map-item-panel li.on.lcsdisplay a::before{background-image:url(../img/d/ico-16-lcsdisplay-sel.png);}
.d-header .map-item-panel .btn-menu{display:flex;width:268px;height:43px;border-left: solid 1px rgba(26, 194, 255, 0.25);border-right: solid 1px rgba(26, 194, 255, 0.25);border-bottom: solid 1px rgba(26, 194, 255, 0.25);background: linear-gradient(180deg, rgba(26,194,255,0) 0%, rgba(26,194,255,1) 100%);background-image: radial-gradient(circle at 50% 100%, rgba(26,194,255,0.5), rgba(26, 194, 255, 0) 100%);position:absolute;bottom:-43px;left:50%;justify-content:center;align-items:center;margin-left:-134px;}
.d-header .map-item-panel .btn-menu span{font-size:18px;font-weight:600;color:#1ac2ff;text-align:center;display:block;padding-right:28px;position: relative;line-height:1.56;}
.d-header .map-item-panel .btn-menu span::after{content:'';display:inline-block;width:20px;height:20px;background:url(../img/ico-24_arrow-treeclose-sel.png) 50% 50% no-repeat;position: absolute;right:0;top:3px;transform:rotate(180deg);}
.d-header .map-item-panel.on ul{display:flex;}
.d-header .map-item-panel.on .btn-menu span::after{background:url(../img/ico-16-close-sel.png) 50% 50% no-repeat;top:4px;}

.d-item-wrap{height:1080px;padding-top:120px;position: relative;}
.d-item-wrap > .s-ico, .d-item-wrap > .s-txt{position:absolute;display:none;}
.d-item-wrap > .s-txt{font-size:22px;font-weight:600;line-height:34px;color:#7c89aa;}
.d-item-wrap .chart-list{width:400px;display:flex;flex-wrap:wrap;gap:10px;position:absolute;top:152px;z-index:1;}
.d-item-wrap .chart-list.type-1{left:17px;}
.d-item-wrap .chart-list.type-2{left:427px;}
.d-item-wrap .chart-list > li{border: solid 1px rgba(26, 194, 255, 0.5);width:100%;}
.d-item-wrap .chart-list > li > dl > dt{font-size:22px;font-weight:bold;color:#19b2e8;text-align:center;line-height:1.53;padding:13px 0;background-color: rgba(31, 61, 83, 0.91);}
.d-item-wrap .chart-list > li > dl > dd{-webkit-backdrop-filter: blur(12px);backdrop-filter: blur(12px);border-left: solid 1px #212332;background-color: rgba(33, 35, 50, 0.5);padding:16px;position: relative;height:380px;}
.d-item-wrap .chart-list dd .tit-y,
.d-item-wrap .chart-list dd .tit-x{position: absolute;font-size:17px;font-weight:600;color:#b2bbce;position: absolute;}
.d-item-wrap .chart-list dd .tit-y{left:16px;top:56px;}
.d-item-wrap .chart-list dd .tit-x{right:16px;bottom:72px;}
.d-item-wrap .map-navi{position: absolute;right:60px;bottom:73px;top:initial;transform:none;}
.d-item-wrap .map-navi .s-ico.plus{margin-top:16px;}

.vms-item-tit{font-size:19px;font-weight:600;color:#b2bbce;text-align:center;line-height:1.55;margin-bottom:8px;}
.vms-item-tit span{color:#fff;}
.vms-swiper .swiper-slide dt{background-color:rgba(33, 35, 50, 0.9);display:flex;align-items:center;padding:12px 16px;height:54px;}
.vms-swiper .swiper-slide dt span{font-size:20px;font-weight:600;color:#fff;line-height:1.47;display:inline-block;padding-left:20px;position: relative;}
.vms-swiper .swiper-slide dt span::before{content:'';display:inline-block;width:12px;height:12px;border-radius:50%;background-color:#0bbe35;position: absolute;left:0;top:8px;}
.vms-swiper .vms-item{position:relative;display:flex;align-items:center;justify-content:center;gap:0 16px;margin-top:10px;}
.vms-swiper .swiper-button-next:after,
.vms-swiper .swiper-button-prev:after{display:none;}
.vms-swiper .swiper-button-next,
.vms-swiper .swiper-button-prev{width:24px;height:24px;background:url(../img/ico-24-page-bicprev-def.png) 50% 50% no-repeat;position: relative;margin-top:0;}
.vms-swiper .swiper-button-next:hover,
.vms-swiper .swiper-button-prev:hover{background:url(../img/ico-24-page-bicprev-sel.png) 50% 50% no-repeat;}
.vms-swiper .swiper-button-prev{left:0;}
.vms-swiper .swiper-button-next{right:0;transform:rotate(180deg);}
.vms-swiper .swiper-button-next.swiper-button-disabled,
.vms-swiper .swiper-button-prev.swiper-button-disabled{background:url(../img/ico-24-page-bicprev-dis.png) 50% 50% no-repeat;opacity:1;}
.vms-swiper .swiper-pagination{position: relative;bottom:initial;top:initial;font-size:19px;font-weight:600;color:#778298;line-height:1.55;width:auto;}
.vms-swiper .swiper-pagination .swiper-pagination-current{color:#fff;}

.d-status-wrap{position: relative;}
.d-status-wrap .status-box-list{display:flex;}
.d-status-wrap .status-box-list > li{border-left:1px solid #212332;background-color:#2a2d3e;}
.d-status-wrap .status-box-list > li:first-child{border-left:0;}
.d-status-wrap .status-box-list > li.sm{width:480px;}
.d-status-wrap .status-box-list > li.md{width:640px;}
.d-status-wrap .status-box-list > li.lg{width:960px;}
.d-status-wrap .status-box-list > li.xl{width:1280px;}
.d-status-wrap .status-box-list > li.full{width:100%;}
.d-status-wrap .status-box-list > li > dl > dt{font-size:28px;font-weight:600;line-height:1.5;color:#19b2e8;border-top: solid 1px #212332;background-color: #203b51;text-align:center;padding:8px;position: relative;}
.d-status-wrap .status-box-list > li > dl > dt .tit-wrap{display:flex;position: relative;justify-content:center;align-items:center;gap:0 32px;}
.d-status-wrap .status-box-list > li > dl > dt .tit-wrap .btn-l,
.d-status-wrap .status-box-list > li > dl > dt .tit-wrap .btn-r{display:block;width:24px;height:24px;}
.d-status-wrap .status-box-list > li > dl > dt .tit-wrap .btn-l.disabled,
.d-status-wrap .status-box-list > li > dl > dt .tit-wrap .btn-r.disabled{opacity:0.5;}
.d-status-wrap .status-box-list > li > dl > dt .tit-wrap .btn-l{background:url(../img/d/ico-24-prev-blue.png) 50% 50% no-repeat;}
.d-status-wrap .status-box-list > li > dl > dt .tit-wrap .btn-r{background:url(../img/d/ico-24-next-blue.png) 50% 50% no-repeat;}
.d-status-wrap .status-box-list > li > dl > dt.green{background-color:#1a5133;color:#0bbe35;}
.d-status-wrap .status-box-list > li > dl > dt.toggle{cursor:pointer;}
.d-status-wrap .status-box-list > li > dl > dt.toggle::after{content:'';display:block;width:24px;height:24px;background:url(../img/d/ico-24-tree-blue50.png) 50% 50% no-repeat;position: absolute;right:12px;top:18px;transform:rotate(180deg);}
.d-status-wrap .status-box-list > li > dl > dt.toggle.on::after{transform:rotate(0deg);}
.d-status-wrap .status-box-list > li > dl > dt.toggle + dd{display:none;}
.d-status-wrap .status-box-list > li > dl > dt.toggle.on + dd{display:block;}
.d-status-wrap .status-box-list > li > dl > dt .btn-detail{position:absolute;right:24px;top:16px;font-size:19px;font-weight:600;color:#19b2e8;display:flex;align-items:center;gap:0 8px;}
.d-status-wrap .status-box-list > li > dl > dt .btn-detail::after{content:'';display:inline-block;width:24px;height:24px;background:url(../img/d/ico-24-de-blue-50.png) 50% 50% no-repeat;}
.d-status-wrap .status-box-list > li > dl > dd{padding:15px 24px;position: relative;}
.d-status-wrap .status-box-list > li > dl > dd.chart{padding:32px 40px 40px;}
.d-status-wrap .status-box-list > li > dl > dd.no-padding{padding:0;}

.d-status-wrap .status-box-list > li .weather-list > li{margin-top:24px;}
.d-status-wrap .status-box-list > li .weather-list > li:first-child{margin-top:0;}
.d-status-wrap .status-box-list > li .weather-list .tit{font-size:20px;font-weight:600;color:#b2bbce;line-height:1.47;}
.d-status-wrap .status-box-list > li .weather-list .weather-info{display:flex;flex-wrap:wrap;gap:0 24px;margin-top:16px;}
.d-status-wrap .status-box-list > li .weather-list .weather-info > li{width:calc(33.33% - 16px);}
.d-status-wrap .status-box-list > li .weather-list .weather-info .detail{display:flex;justify-content:space-between;}
.d-status-wrap .status-box-list > li .weather-list .weather-info .detail .info,
.d-status-wrap .status-box-list > li .weather-list .weather-info .detail .temp{font-size:22px;font-weight:bold;line-height:1.53;color:#fff;display:block;}
.d-status-wrap .status-box-list > li .weather-list .weather-info .detail .temp{margin-top:4px;}

.d-status-wrap .status-box-list > li > dl > dd .bg-circle{display:inline-block;background:url(../img/circle.png) 50% 50% no-repeat;background-size:cover;width:150px;height:150px;position: absolute;left:50%;top:109px;margin-left:-60px;}

.d-status-wrap .slider-horizon-area{display:flex;margin-top:0;gap:0 44px;}
.d-status-wrap .slider-horizon{width:380px;}
.d-status-wrap .slider-horizon.ui-slider-horizontal{height:40px;}
.d-status-wrap .slider-horizon.ui-widget-content{border-radius:20px;margin:0;}
.d-status-wrap .slider-horizon.ui-slider .ui-slider-handle{width:22px;height:49px;margin-left:-11px;background:url(../img/d/chart-slidebar-bar.png) 50% 50% no-repeat;background-size:cover;}
.d-status-wrap .slider-label{margin-top:0;font-size:19px;font-weight:600;color:#778298;}
.d-status-wrap .chart-tit{font-size:22px;font-weight:700;color:#fff;line-height:1.53;text-align:center;display:block;}
.d-status-wrap .gauge-chart-area{position: relative;margin-top:30px;}
.d-status-wrap .gauge-label{position: absolute;left:0;top:0;font-size:19px;font-weight:600;color:#778298;line-height:1.55;}

.d-status-wrap .fac-info{display:flex;width:100%;flex-wrap:wrap;}
.d-status-wrap .fac-info li{width:50%;padding:18.8px 12px;font-size:20px;font-weight:600;line-height:1.47;display:flex;justify-content:space-between;color:#778298;border-top:1px solid #212332;}
.d-status-wrap .fac-info li:nth-child(1),
.d-status-wrap .fac-info li:nth-child(2){border-top:0;}
.d-status-wrap .fac-info li:nth-child(odd){border-right:1px solid #212332;}
.d-status-wrap .fac-info li.red{background-color:#3d2f3e;color:#ef4345;}
.d-status-wrap .fac-info li .result{color:#b2bbce;}
.d-status-wrap .fac-info li.red .result{color:#ef4345;}
.d-status-wrap .traffic-info-wrap{display:flex;}
.d-status-wrap .traffic-info{width:50%;border-right:1px solid #212332;}
.d-status-wrap .traffic-info:last-child{border-right:0;}
.d-status-wrap .traffic-info li{display:flex;align-items:center;gap:0 8px;border-top:1px solid #212332;}
.d-status-wrap .traffic-info li:first-child{border-top:0;}
.d-status-wrap .traffic-info li span{display:flex;align-items:center;}
.d-status-wrap .traffic-info li.head{background-color:#34374c;padding:6px 16px;}
.d-status-wrap .traffic-info li.head span{font-size:18px;font-weight:600;line-height:1.56;color:#b2bbce;}
.d-status-wrap .traffic-info li.body{padding:15.7px;}
.d-status-wrap .traffic-info li.body:last-child{border-bottom:1px solid #212332;}
.d-status-wrap .traffic-info li.body span{font-size:19px;font-weight:600;line-height:1.55;}
.d-status-wrap .traffic-info li span.label{width:143px;}
.d-status-wrap .traffic-info li span.local{width:40px;}
.d-status-wrap .traffic-info li span.per{width:21px;}
.d-status-wrap .traffic-info li.body span.label{color:#fff;}
.d-status-wrap .traffic-info li.body span.local{color:#b2bbce;}
.d-status-wrap .bottom-label{display:flex;width:100%;align-items:center;padding-left:60px;margin-top:15px;}
.d-status-wrap .bottom-label span{font-size:17px;line-height:1.4;color:#fff;font-weight:600;text-align:center;width:25%;}

.d-status-wrap .movie-wrap{display:flex;}
.d-status-wrap .movie-wrap > div{display:flex;flex-grow:1;width:50%;flex-wrap:wrap;}
.d-status-wrap .movie-wrap > div.movie-right{border-left:1px solid #212332;}
.d-status-wrap .movie-wrap > div.movie-right .movie-obj{width:50%;}
.d-status-wrap .movie-wrap > div.movie-right .movie-obj:nth-child(1),
.d-status-wrap .movie-wrap > div.movie-right .movie-obj:nth-child(3){border-right:1px solid #212332;}
.d-status-wrap .movie-wrap > div.movie-right .movie-obj:nth-child(3),
.d-status-wrap .movie-wrap > div.movie-right .movie-obj:nth-child(4){border-top:1px solid #212332;}

.d-status-wrap .status-box-list > li > dl > dd.type-map{padding:0;height:480px;background-color:#212332;}
.d-status-wrap .type-map .st-wrap{padding:0 124px;}
.d-status-wrap .type-map .st-wrap#st1{padding:0 116px;}
.d-status-wrap .type-map .st-wrap .st-line-wrap{top:214px;left:124px;right:124px;}
.d-status-wrap .type-map .st-wrap#st1 .st-line-wrap{left:116px;right:116px;}
.d-status-wrap .type-map .st-label{font-size:19px;font-weight:700;}
.d-status-wrap .type-map .st-label::before{top:8px;}
.d-status-wrap .type-map .st-label.arrow-l{right:70px;top:209px;left:initial;}
.d-status-wrap .type-map .st-label.arrow-r{left:70px;top:246px;right:initial;}
.d-status-wrap .type-map #st1 .st-label.arrow-l{left:80px;right:initial;top:18px;}
.d-status-wrap .type-map #st1 .st-label.arrow-r{right:80px;left:initial;top:18px;}
.d-status-wrap .type-map .st-route li{border-color:#34374c;transition:background-color 0.2s;}
.d-status-wrap .type-map #st1 .st-route li.on,
.d-status-wrap .type-map #st1 .st-route li:hover{background-color: rgba(26, 194, 255, 0.15);border-color:rgba(26, 194, 255, 0.25);border-right:1px solid rgba(26, 194, 255, 0.25);}
.d-status-wrap .type-map #st1 .st-route li.warning.on,
.d-status-wrap .type-map #st1 .st-route li.warning:hover{background-color: rgba(239, 67, 69, 0.1);border-color:rgba(239, 67, 69, 0.3);border-right:1px solid rgba(239, 67, 69, 0.3);}
.d-status-wrap .type-map #st1 .st-route li.warning2.on,
.d-status-wrap .type-map #st1 .st-route li.warning2:hover{background-color: rgba(239, 67, 69, 0.3);border-color:#ef4345;border-right:1px solid #ef4345;}
.d-status-wrap .type-map .st-route li.half{height:45%;}
.d-status-wrap .type-map .st-route li span{font-size:19px;line-height:1.55;font-weight:700;bottom:16px;}
.d-status-wrap .type-map .st-route li span.top{bottom:initial;top:48px;}
.d-status-wrap .type-map .s-ico{position: absolute;z-index:1;}
.d-status-wrap .type-map .s-ico.call.top{top:62px;}
.d-status-wrap .type-map .s-ico.lcs.top{top:102px;}
.d-status-wrap .type-map .s-ico.vms.top{top:136px;}
.d-status-wrap .type-map .s-ico.cctv.top{top:170px;}
.d-status-wrap .type-map .s-ico.cctv.bottom{bottom:170px;}
.d-status-wrap .type-map .s-ico.vms.bottom{bottom:136px;}
.d-status-wrap .type-map .s-ico.lcs.bottom{bottom:102px;}
.d-status-wrap .type-map .s-ico.call.bottom{bottom:62px;}
.d-status-wrap .type-map .st-section.shape-down{right:initial;left:3208px;}
.d-status-wrap .type-map .st-section.shape-up i,
.d-status-wrap .type-map .st-section.shape-down i{clip-path:none;background:none;height:auto;border-left:0;}
.d-status-wrap .type-map .st-section.shape-up i{bottom:11px;width:214px;height:70px;background:url(../img/d/line-tno.png) 0 0 no-repeat;}
.d-status-wrap .type-map .st-section.shape-up.st1 i{background:url(../img/d/line-tg.png) 0 0 no-repeat;}
.d-status-wrap .type-map .st-section.shape-up.st2 i{background:url(../img/d/line-ty.png) 0 0 no-repeat;}
.d-status-wrap .type-map .st-section.shape-up.st3 i{background:url(../img/d/line-tr.png) 0 0 no-repeat;}
.d-status-wrap .type-map .st-section.shape-down i{bottom:10px;width:381px;height:70px;background:url(../img/d/line-byno.png) 0 0 no-repeat;}
.d-status-wrap .type-map .st-section.shape-down.st1 i{background:url(../img/d/line-bg.png) 0 0 no-repeat;}
.d-status-wrap .type-map .st-section.shape-down.st2 i{background:url(../img/d/line-by.png) 0 0 no-repeat;}
.d-status-wrap .type-map .st-section.shape-down.st3 i{background:url(../img/d/line-br.png) 0 0 no-repeat;}
.d-status-wrap .type-map .st-section.up i{bottom:64px;}
.d-status-wrap .type-map .st-line.bottom{margin-top:18px;}
.d-status-wrap .type-map .st-navi{display:block;width:44px;height:44px;border-radius:4px;position: absolute;top:50%;background:#2a2d3e url(../img/d/ico-24-prev-gray.png) 50% 50% no-repeat;margin-top:-22px;}
.d-status-wrap .type-map .st-navi:hover{background:#304c67 url(../img/d/ico-24-prev-blue.png) 50% 50% no-repeat;}
.d-status-wrap .type-map .st-navi.prev{left:16px;}
.d-status-wrap .type-map .st-navi.next{right:16px;transform:rotate(180deg);}
.d-status-wrap .type-map .st-wrap .st-route-wrap{background:url(../img/d/line-sub-dot.png) 0 50% no-repeat;}
.d-status-wrap .type-map .st-wrap#st1 .st-route-wrap{background:url(../img/d/line-full-dot.png) 0 50% no-repeat;}
.d-status-wrap .type-map .st-route-wrap.origin{}
.d-status-wrap .type-map .st-route-wrap.trick{position:absolute;left:116px;right:116px;top:0;opacity:0;width:auto;z-index:1;}

.d-status-wrap .vms-item-tit{margin-bottom:24px;}
.d-status-wrap .vms-swiper .vms-item{margin-top:24px;}

.d-item-wrap .map-num{position:absolute;right:62px;bottom:24px;font-size:17px;font-weight:600;color:#fff;line-height:1;display:inline-block;padding:0 16px 8px;border:2px solid #495367;border-top:0;}

/* component */
.popup-wrap#popup-notice{background-color:rgba(99, 45, 56, 0.93);-webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);border: solid 1px #ef4345;background-color: rgba(99, 45, 56, 0.93);}
.popup-wrap#popup-notice button.mfp-close{display:none;}
.popup-wrap#popup-notice .tit-wrap{padding:30px 60px;border-bottom:1px solid #ef4345}
.popup-wrap#popup-notice .con-wrap{padding:60px;text-align:center;font-size:38px;color:#fff;line-height:1.4;font-weight:bold;}
.popup-wrap#popup-notice .con-wrap strong{font-weight:700;color:#ef4345;}

#dashboard-wrap.c-scrollbar::-webkit-scrollbar,
#dashboard-wrap .c-scrollbar::-webkit-scrollbar{border-radius:4px;background:transparent;width:16px;}
#dashboard-wrap.c-scrollbar::-webkit-scrollbar-track,
#dashboard-wrap .c-scrollbar::-webkit-scrollbar-track{border-radius:0 4px 4px 0;background:#34374c;border-left:0;border-radius:0;} 
#dashboard-wrap.c-scrollbar::-webkit-scrollbar-thumb,
#dashboard-wrap .c-scrollbar::-webkit-scrollbar-thumb{background-color:#495367;border-radius:10px;background-clip:padding-box;border:3px solid transparent;/*box-shadow: inset 0 0 0 3px #34374c;*/}
#dashboard-wrap.c-scrollbar::-webkit-scrollbar-thumb:hover,
#dashboard-wrap .c-scrollbar::-webkit-scrollbar-thumb:hover{background-color:#778298;}
#dashboard-wrap .switch-area .label{font-size:20px;}
#dashboard-wrap .btn-switch{width:68px;height:38px;background:url(../img/d/ico-switch-off.png) 0 0 no-repeat;}
#dashboard-wrap .btn-switch.on{background:url(../img/d/ico-switch-on.png) 0 0 no-repeat;}
#dashboard-wrap .tab-btn{border:4px solid #3e4157;}
#dashboard-wrap .tab-btn li a{font-size:18px;font-weight:600;color:#778298;padding:4px 16px;line-height:1.56;min-width:79px;}
#dashboard-wrap .tab-btn li:hover a, #dashboard-wrap .tab-btn li.on a{color:#fff;border-radius:2px;}
#dashboard-wrap .tab-btn li.st1:hover a, #dashboard-wrap .tab-btn li.st1.on a{background-color:#19b2e8;}
#dashboard-wrap .tab-btn li.st2:hover a, #dashboard-wrap .tab-btn li.st2.on a{background-color:#ef4345;}
#dashboard-wrap .tab-btn li.st3:hover a, #dashboard-wrap .tab-btn li.st3.on a{background-color:#0bbe35;}
#dashboard-wrap .btn-power{font-size:20px;font-weight:600;color:#b2bbce;line-height:1.47;display:flex;align-items:center;gap:0 8px;}
#dashboard-wrap .btn-power::after{content:'';display:inline-block;width:32px;height:32px;background:url(../img/d/ico-32-logout-gray.png) 50% 50% no-repeat;}
#dashboard-wrap .btn-power:hover::after{background:url(../img/d/ico-32-logout-blue.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.fullroute,
#dashboard-wrap .s-ico.plus,
#dashboard-wrap .s-ico.minus{width:44px;height:44px;}
#dashboard-wrap .s-ico.fullroute{background:#34374c url(../img/d/ico-24-fullroute-gray.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.plus{background:#34374c url(../img/d/ico-24-plus-gray.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.minus{background:#34374c url(../img/d/ico-24-minus-gray.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.fullroute:hover{background:#304c67 url(../img/d/ico-24-fullroute-blue.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.plus:hover{background:#304c67 url(../img/d/ico-24-plus-blue.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.minus:hover{background:#304c67 url(../img/d/ico-24-minus-blue.png) 50% 50% no-repeat;}
#dashboard-wrap .info-wrap{position: absolute;width:240px;padding: 16px;border-radius: 8px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);box-shadow: 0 4px 8px 0 rgba(26, 194, 255, 0.15);border: solid 1px rgba(26, 194, 255, 0.5);background-color: rgba(33, 35, 50, 0.5);}
#dashboard-wrap .info-wrap .tit{text-align:center;margin-bottom:16px;}
#dashboard-wrap .info-wrap .tit .b{font-size:22px;font-weight:700;color:#19b2e8;line-height:1.53;}
#dashboard-wrap .info-wrap .tit .s{font-size:18px;font-weight:600;color:#fff;line-height:1.56;}
#dashboard-wrap .info-wrap.lg{width:400px;border-radius:16px;}
#dashboard-wrap .info-wrap .b-tit{font-size:22px;font-weight:700;line-height:1.53;color:#19b2e8;}
#dashboard-wrap .info-wrap .date-area{padding:16px;border-radius: 4px;background-color: rgba(26, 194, 255, 0.15);margin-top:16px;}
#dashboard-wrap .info-wrap .date-area .label{font-size:18px;font-weight:600;color:#b2bbce;line-height:1.56;display:block;}
#dashboard-wrap .info-wrap .date-area .d-line{display:flex;justify-content:space-between;align-items:center;}
#dashboard-wrap .info-wrap .date-area .d-line .period{font-size:17px;font-weight:600;color:#fff;line-height:1.4;}
#dashboard-wrap .info-wrap .date-area .d-line .value{font-size:22px;font-weight:600;color:#fff;line-height:1.53;}
#dashboard-wrap .info-wrap .acc-area .a-line{display:flex;justify-content:space-between;align-items:center;margin-top:16px;}
#dashboard-wrap .info-wrap .acc-area .a-line .label{font-size:18px;font-weight:600;color:#b2bbce;}
#dashboard-wrap .info-wrap .acc-area .a-line .value{font-size:22px;font-weight:600;color:#fff;line-height:1.53;}
#dashboard-wrap .info-wrap .acc-area .a-list{display:flex;gap:8px;flex-wrap:wrap;margin-top:16px;}
#dashboard-wrap .info-wrap .acc-area .a-list li{padding: 12px 16px;border-radius: 4px;background-color: rgba(239, 67, 69, 0.1);width:calc(33.333% - 6px);}
#dashboard-wrap .info-wrap .acc-area .a-list li .label{font-size:17px;font-weight:600;color:#b2bbce;line-height:1.4;}
#dashboard-wrap .info-wrap .acc-area .a-list li .value{font-size:20px;font-weight:600;line-height:1.47;color:#fff;display:block;}

#dashboard-wrap .s-list li{display:flex;justify-content:space-between;gap:0 10px;font-size:18px;line-height:1.56;}
#dashboard-wrap .s-list li .label{color:#778298;font-weight:600;}
#dashboard-wrap .s-list li .value{color:#fff;font-weight:700;}
#dashboard-wrap .s-list li .value.green{color:#0bbe35;}

#dashboard-wrap .tb-list th,
#dashboard-wrap .tb-list td{font-size:20px;font-weight:600;padding:8px;}
#dashboard-wrap .tb-list td .status::before{width:16px;height:16px;border-radius:8px;margin-right:8px;}

#dashboard-wrap .tb-list.special td .status::before{width:20px;height:20px;border-radius:0;vertical-align:middle;background:url(../img/d/ico-20-ok.png) 50% 50% no-repeat;}
#dashboard-wrap .tb-list.special tr.st1 td .status::before{background:url(../img/d/ico-20-yes.png) 50% 50% no-repeat;}
#dashboard-wrap .tb-list.special tr.st2 td .status::before{background:url(../img/d/ico-20-ing.png) 50% 50% no-repeat;}
#dashboard-wrap .tb-list.special tr.st3 td .status::before{background:url(../img/d/ico-20-no.png) 50% 50% no-repeat;}

#dashboard-wrap .tb-list td .s-label{display:inline-block;padding:6px 16.5px;border-radius: 21px;color:#fff;min-width:80px;text-align:center;background-color:#778298;}
#dashboard-wrap .tb-list tr.st1 td .s-label{background-color: rgba(11, 190, 53, 0.3);}
#dashboard-wrap .tb-list tr.st2 td .s-label{background-color: rgba(252, 187, 37, 0.3);}
#dashboard-wrap .tb-list tr.st3 td .s-label{background-color: rgba(239, 67, 69, 0.3);}
#dashboard-wrap .no-data-wrap{height:420px;display:flex;justify-content: center;align-items: center;}
#dashboard-wrap .no-data-wrap .no-data{padding:0;font-size:20px;color:#778298;line-height:1.47;font-weight:600;background-color:transparent;}
#dashboard-wrap .no-data-wrap .no-data::before{content:'';display:block;width:72px;height:72px;background:url(../img/d/ico-nodata.png) 50% 50% no-repeat;margin:0 auto 8px;}
#dashboard-wrap .s-ico.cctv{width:32px;height:32px;background:url(../img/d/ico-line-cctv-def.png) 50% 50% no-repeat;}
#dashboard-wrap span.s-ico{cursor:default;}
#dashboard-wrap .s-ico.cctv.on{background:url(../img/d/ico-line-cctv-sel.png) 50% 50% no-repeat;}

#dashboard-wrap .s-ico.call{width:32px;height:32px;background:url(../img/d/ico-line-call-def.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.call.on{background:url(../img/d/ico-line-call-sel.png) 50% 50% no-repeat;}

#dashboard-wrap .s-ico.lcs{width:44px;height:26px;background:url(../img/d/ico-line-lcs-def.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.lcs.on{background:url(../img/d/ico-line-lcs-sel.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.vms{width:44px;height:24px;background:url(../img/d/ico-line-vms-def.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.vms.on{background:url(../img/d/ico-line-vms-sel.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.expressway{width:38px;height:38px;}
#dashboard-wrap .s-ico.expressway-15{background:url(../img/d/ico-expressway-15.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.expressway-25{background:url(../img/d/ico-expressway-25.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.expressway-30{background:url(../img/d/ico-expressway-30.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.expressway-151{background:url(../img/d/ico-expressway-151.png) 50% 50% no-repeat;}

#dashboard-wrap .s-ico.highway{width:38px;height:38px;}
#dashboard-wrap .s-ico.highway-32{background:url(../img/d/ico-highway-32.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.highway-39{background:url(../img/d/ico-highway-39.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.jct{width:44px;height:30px;background:url(../img/d/ico-line-jct-def.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.ic{width:30px;height:30px;background:url(../img/d/ico-line-ic-def.png) 50% 50% no-repeat;}

#dashboard-wrap .s-ico.accident{width:32px;height:32px;background:url(../img/d/ico-line-accident-def.png) 50% 50% no-repeat;}
#dashboard-wrap .s-ico.freezing{width:32px;height:32px;background:url(../img/d/ico-line-freezing-def.png) 50% 50% no-repeat;}

#dashboard-wrap .accident-wrap{position:absolute;display:flex;/*border: solid 2px rgba(239, 67, 69, 0.3);background-image: radial-gradient(circle at 50% 50%, rgba(239, 67, 69, 0.4), rgba(239, 67, 69, 0) 71%);border-radius:50%;align-items:center;justify-content:center;*/}
#dashboard-wrap .accident-wrap::after{border-radius:50%;transform:scale(0.3, 0.3);transform-origin:50% 50%;left:0;top:0;content:'';display:block;position:absolute;background:rgba(239, 67, 69, 0.4);border: solid 2px #ef4345;width:32px;height:32px;}
#dashboard-wrap .accident-wrap.md::after{animation:dotmd 1.5s 0s ease-in-out infinite;}
#dashboard-wrap .accident-wrap.lg::after{animation:dotlg 1.5s 0s ease-in-out infinite;}
@keyframes dotmd{
	0%{transform:scale(0.3, 0.3);opacity:1}
	100%{transform:scale(2.375, 2.375);opacity:0}
}
@keyframes dotlg{
	0%{transform:scale(0.3, 0.3);opacity:1}
	100%{transform:scale(4.375, 4.375);opacity:0}
}
/* #dashboard-wrap .accident-wrap.md{width:76px;height:76px;}
#dashboard-wrap .accident-wrap.lg{width:140px;height:140px;} */

#dashboard-wrap .accident-wrap .accident-tip{position:absolute;padding:16px;border-radius: 8px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);box-shadow: 0 4px 8px 0 rgba(239, 67, 69, 0.1);border: solid 1px rgba(239, 67, 69, 0.3);background-color: rgba(33, 35, 50, 0.5);width:237px;left:54px;top:53px;}
#dashboard-wrap .accident-wrap .accident-tip span{display:block;}
#dashboard-wrap .accident-wrap .accident-tip .label{font-size:18px;font-weight:600;line-height:1.56;color:#ef4345;}
#dashboard-wrap .accident-wrap .accident-tip .info{font-size:20px;font-weight:600;line-height:1.47;color:#fff;margin-top:8px;}

#dashboard-wrap .detail-wrap{position:absolute;-webkit-backdrop-filter: blur(12px);backdrop-filter: blur(12px);border:1px solid #212332;background-color: rgba(33, 35, 50, 0.5);z-index:2;}
#dashboard-wrap .detail-wrap > dl > dt{position: relative;padding:16px 24px;background-color: rgba(31, 61, 83, 0.91);height:60px;}
#dashboard-wrap .detail-wrap > dl > dt .tit{font-size:22px;font-weight:bold;color:#19b2e8;line-height:1.53;}
#dashboard-wrap .detail-wrap > dl > dt .item{display:flex;gap:0 8px;position: absolute;left:24px;top:18px;}
#dashboard-wrap .detail-wrap > dl > dt .item .btn-prev,
#dashboard-wrap .detail-wrap > dl > dt .item .btn-next{display:block;width:24px;height:24px;border-radius:22px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);z-index:1;background-repeat:no-repeat;background-position:50% 50%;background-image:url(../img/d/ico-24-next-blue.png);}
#dashboard-wrap .detail-wrap > dl > dt .item .btn-prev{transform:rotate(180deg);}
#dashboard-wrap .detail-wrap > dl > dt .item .btn-prev.disabled,
#dashboard-wrap .detail-wrap > dl > dt .item .btn-next.disabled{opacity:0.5;}
#dashboard-wrap .detail-wrap > dl > dt .btn-close{position: absolute;width:24px;height:24px;background:url(../img/d/ico-24-x-blue-50.png) 50% 50% no-repeat;display:inline-block;right:24px;top:18px;font-size:0;}
#dashboard-wrap .detail-wrap > dl > dd{padding:24px;height:836px;}
#dashboard-wrap .detail-wrap > dl > dd.no-padding{padding:0;}
#dashboard-wrap .detail-wrap > dl > dd .list > li{border-top:solid 1px rgba(26, 194, 255, 0.25);margin-top:16px;padding-top:16px;}
#dashboard-wrap .detail-wrap > dl > dd .list > li:nth-child(1){border-top:0;margin-top:0;padding-top:0;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li{font-size:20px;line-height:1.47;font-weight:600;display:flex;margin-top:8px;gap:0 16px;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li:first-child{margin-top:0;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .label{color:#778298;flex-shrink:0;width:80px;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .result{color:#fff;flex-grow:1;display:flex;align-items:center;gap:0 8px;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .result.status::before{content:'';display:inline-block;width:16px;height:16px;background-color:#fff;border-radius:50%;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .result.status.tp1{color:#ef4345;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .result.status.tp1::before{background-color:#ef4345;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .result.status.tp2{color:#fcbb25;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .result.status.tp2::before{background-color:#fcbb25;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .result.status.tp3{color:#0bbe35;}
#dashboard-wrap .detail-wrap > dl > dd .list > li li .result.status.tp3::before{background-color:#0bbe35;}
#dashboard-wrap .detail-wrap > dl > dd .list > li.c-scrollbar::-webkit-scrollbar-track,
#dashboard-wrap .detail-wrap > dl > dd .list > li .result.c-scrollbar::-webkit-scrollbar-track{background-color:transparent;}

#dashboard-wrap .d-item-wrap.briefing{height:100%;}
#dashboard-wrap .brief-menu{position: absolute;left:60px;top:200px;width:600px;z-index:1;}
#dashboard-wrap .brief-menu > ul > li:not(.zoom){padding: 40px;border-radius: 8px;-webkit-backdrop-filter: blur(16px);backdrop-filter: blur(16px);border: solid 1px rgba(26, 194, 255, 0.5);background-color: rgba(33, 35, 50, 0.9);margin-top:40px;position: relative;}
#dashboard-wrap .brief-menu > ul > li:not(.zoom).on, #dashboard-wrap .brief-menu > ul > li:not(.zoom):hover{background-color: rgba(31, 61, 83, 0.91);}
#dashboard-wrap .brief-menu > ul > li:not(.zoom).on .label, #dashboard-wrap .brief-menu > ul > li:not(.zoom):hover .label{color:#19b2e8;}
#dashboard-wrap .brief-menu > ul > li:not(.zoom):visible:first-child{margin-top:0;}
#dashboard-wrap .brief-menu > ul > li .label, #dashboard-wrap .brief-menu > ul > li .con{display:block;}
#dashboard-wrap .brief-menu > ul > li .label{font-size:28px;font-weight:600;color:#b2bbce;line-height:1.5;}
#dashboard-wrap .brief-menu > ul > li .con{margin-top:8px;font-size:38px;font-weight:700;color:#fff;line-height:1.4;}
#dashboard-wrap .brief-menu > ul > li .btn-more{display:inline-block;width:32px;height:32px;background:url(../img/d/ico-32-plus-gray.png) 50% 50% no-repeat;position: absolute;right:40px;top:40px;}
#dashboard-wrap .brief-menu li .btn-more:hover{background:url(../img/d/ico-32-plus-blue.png) 50% 50% no-repeat;}
#dashboard-wrap .brief-menu li.active .btn-more{background:url(../img/d/ico-32-minus-gray.png) 50% 50% no-repeat;}
#dashboard-wrap .brief-menu li .control-wrap{display:none;}
#dashboard-wrap .brief-menu li.active .control-wrap{display:block;}
#dashboard-wrap .brief-menu li .legend-color{display:flex;margin-top:32px;position: relative;}
#dashboard-wrap .brief-menu li .legend-color .color{display:block;width:16.666%;height:15px;}
#dashboard-wrap .brief-menu li .legend-text{display:flex;justify-content:space-between;margin-top:8px;}
#dashboard-wrap .brief-menu li .legend-text .txt{font-size:20px;font-weight:600;line-height:1.47;color:#b2bbce;}
#dashboard-wrap .brief-menu li .control-list{padding-top:32px;border-top:solid 1px rgba(26, 194, 255, 0.5);margin-top:32px;}
#dashboard-wrap .brief-menu li .control-list > li{display:flex;align-items:center;margin-top:20px;}
#dashboard-wrap .brief-menu li .control-list > li:first-child{margin-top:0;}
#dashboard-wrap .brief-menu li .control-list > li .label{flex-grow:1;font-size:22px;font-weight:700;color:#00bbfe;}
#dashboard-wrap .brief-menu li .control-list > li .slider-horizon-area{flex-shrink:0;width:300px;}
#dashboard-wrap .brief-menu li.zoom{margin-top:176px;}
#dashboard-wrap .brief-menu li.zoom .brief-zoom{position: static;}

#dashboard-wrap .brief-zoom{position: absolute;left:60px;top:1008px;}
#dashboard-wrap .brief-zoom a{display:block;width:64px;height:64px;background-color:rgba(33, 35, 50, 0.8);background-position:50% 50%;background-repeat:no-repeat; border-radius: 8px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);border: solid 1px #34374c;}
#dashboard-wrap .brief-zoom a:hover{ border: solid 1px rgba(26, 194, 255, 0.25);background-color: rgba(31, 63, 87, 0.83);}
#dashboard-wrap .brief-zoom a.zoom-in{background-image:url(../img/d/ico-32-plus-gray.png);margin-bottom:16px;}
#dashboard-wrap .brief-zoom a.zoom-out{background-image:url(../img/d/ico-32-minus-gray.png);}
#dashboard-wrap .brief-zoom a.zoom-in:hover{background-image:url(../img/d/ico-32-plus-blue.png);}
#dashboard-wrap .brief-zoom a.zoom-out:hover{background-image:url(../img/d/ico-32-minus-blue.png);}

#dashboard-wrap .d-item-wrap.briefing .slider-horizon-area{padding:0 14px;margin-top:0;}
#dashboard-wrap .d-item-wrap.briefing .slider-horizon:before{left:-14px;border-radius:8px 0 0 8px;}
#dashboard-wrap .d-item-wrap.briefing .slider-horizon:after{right:-14px;border-radius:0 8px 8px 0;background-color:rgba(33, 35, 50, 0.9);}
#dashboard-wrap .d-item-wrap.briefing .slider-horizon:before,
#dashboard-wrap .d-item-wrap.briefing .slider-horizon:after{content:'';width:14px;height:8px;display:block;position:absolute;top:0;}
#dashboard-wrap .d-item-wrap.briefing .slider-horizon.ui-widget-content{background-image:none;  background-color: rgba(33, 35, 50, 0.9);height:8px;width:100%;border-radius:0;}
#dashboard-wrap .d-item-wrap.briefing .slider-horizon.ui-slider-horizontal .ui-slider-range-min{border-radius:0;}
#dashboard-wrap .d-item-wrap.briefing .slider-horizon.ui-slider .ui-slider-handle{width:28px;height:28px;border-radius:50%;background-image:none;margin-left:-14px;top:-10px;
}

#dashboard-wrap .slider-horizon.type-1.step-1:before,
#dashboard-wrap .slider-horizon.type-1.step-1 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-1.step-1 .ui-slider-handle{background-color:#00bbfe !important;}
#dashboard-wrap .slider-horizon.type-1.step-2:before,
#dashboard-wrap .slider-horizon.type-1.step-2 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-1.step-2 .ui-slider-handle{background-color:#49e3c7 !important;}
#dashboard-wrap .slider-horizon.type-1.step-3:before,
#dashboard-wrap .slider-horizon.type-1.step-3 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-1.step-3 .ui-slider-handle{background-color:#cbfc9d !important;}
#dashboard-wrap .slider-horizon.type-1.step-4:before,
#dashboard-wrap .slider-horizon.type-1.step-4 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-1.step-4 .ui-slider-handle{background-color:#f6f39e !important;}
#dashboard-wrap .slider-horizon.type-1.step-5:before,
#dashboard-wrap .slider-horizon.type-1.step-5 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-1.step-5 .ui-slider-handle{background-color:#fcbb25 !important;}
#dashboard-wrap .slider-horizon.type-1.step-6:before,
#dashboard-wrap .slider-horizon.type-1.step-6 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-1.step-6 .ui-slider-handle{background-color:#ef4345 !important;}

#dashboard-wrap .slider-horizon.type-2.step-1:before,
#dashboard-wrap .slider-horizon.type-2.step-1 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-2.step-1 .ui-slider-handle{background-color:#0bbe35 !important;}
#dashboard-wrap .slider-horizon.type-2.step-2:before,
#dashboard-wrap .slider-horizon.type-2.step-2 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-2.step-2 .ui-slider-handle{background-color:#82eb2f !important;}
#dashboard-wrap .slider-horizon.type-2.step-3:before,
#dashboard-wrap .slider-horizon.type-2.step-3 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-2.step-3 .ui-slider-handle{background-color:#e7ff87 !important;}
#dashboard-wrap .slider-horizon.type-2.step-4:before,
#dashboard-wrap .slider-horizon.type-2.step-4 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-2.step-4 .ui-slider-handle{background-color:#ffce5b !important;}
#dashboard-wrap .slider-horizon.type-2.step-5:before,
#dashboard-wrap .slider-horizon.type-2.step-5 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-2.step-5 .ui-slider-handle{background-color:#ff782d !important;}
#dashboard-wrap .slider-horizon.type-2.step-6:before,
#dashboard-wrap .slider-horizon.type-2.step-6 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-2.step-6 .ui-slider-handle{background-color:#ef4345 !important;}

#dashboard-wrap .slider-horizon.type-3.step-1:before,
#dashboard-wrap .slider-horizon.type-3.step-1 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-3.step-1 .ui-slider-handle{background-color:#bdeeff !important;}
#dashboard-wrap .slider-horizon.type-3.step-2:before,
#dashboard-wrap .slider-horizon.type-3.step-2 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-3.step-2 .ui-slider-handle{background-color:#93e2ff !important;}
#dashboard-wrap .slider-horizon.type-3.step-3:before,
#dashboard-wrap .slider-horizon.type-3.step-3 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-3.step-3 .ui-slider-handle{background-color:#00bbfe !important;}
#dashboard-wrap .slider-horizon.type-3.step-4:before,
#dashboard-wrap .slider-horizon.type-3.step-4 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-3.step-4 .ui-slider-handle{background-color:#0075ff !important;}
#dashboard-wrap .slider-horizon.type-3.step-5:before,
#dashboard-wrap .slider-horizon.type-3.step-5 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-3.step-5 .ui-slider-handle{background-color:#0047fe !important;}
#dashboard-wrap .slider-horizon.type-3.step-6:before,
#dashboard-wrap .slider-horizon.type-3.step-6 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-3.step-6 .ui-slider-handle{background-color:#1a15ff !important;}


#dashboard-wrap .slider-horizon.type-4.step-1:before,
#dashboard-wrap .slider-horizon.type-4.step-1 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-4.step-1 .ui-slider-handle{background-color:#ffbbbc !important;}
#dashboard-wrap .slider-horizon.type-4.step-2:before,
#dashboard-wrap .slider-horizon.type-4.step-2 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-4.step-2 .ui-slider-handle{background-color:#ff9d9e !important;}
#dashboard-wrap .slider-horizon.type-4.step-3:before,
#dashboard-wrap .slider-horizon.type-4.step-3 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-4.step-3 .ui-slider-handle{background-color:#fb6b6c !important;}
#dashboard-wrap .slider-horizon.type-4.step-4:before,
#dashboard-wrap .slider-horizon.type-4.step-4 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-4.step-4 .ui-slider-handle{background-color:#ef4345 !important;}
#dashboard-wrap .slider-horizon.type-4.step-5:before,
#dashboard-wrap .slider-horizon.type-4.step-5 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-4.step-5 .ui-slider-handle{background-color:#d0090b !important;}
#dashboard-wrap .slider-horizon.type-4.step-6:before,
#dashboard-wrap .slider-horizon.type-4.step-6 .ui-slider-range-min,
#dashboard-wrap .slider-horizon.type-4.step-6 .ui-slider-handle{background-color:#a00506 !important;}

#dashboard-wrap .brief-filter{position: absolute;right:60px;top:200px;}
#dashboard-wrap .brief-filter .filter-list > li{margin-top:32px;border: solid 1px rgba(26, 194, 255, 0.5);border-radius:8px;overflow:hidden;}
#dashboard-wrap .brief-filter .filter-list > li:first-child{margin-top:0;}
#dashboard-wrap .brief-filter .filter-list > li.switch{padding:15px 16px;}
#dashboard-wrap .brief-filter .filter-list > li.switch .switch-area .label{font-size:22px;line-height:34px;}
#dashboard-wrap .brief-filter .filter-list > li .tab{width:193px;}
#dashboard-wrap .brief-filter .filter-list > li .tab li a{display:block;padding: 0 16px;backdrop-filter: blur(8px);background-color: rgba(33, 35, 50, 0.8);font-size:22px;color:#fff;padding:21px 16px;}
#dashboard-wrap .brief-filter .filter-list > li .tab li.on a{background-color:rgba(31, 82, 110, 0.85);color:#19b2e8;font-weight:700;}
#dashboard-wrap .d-item-wrap.briefing > .s-txt{border-radius:8px;background-color: rgba(33, 35, 50, 0.9);padding:8px 16px;font-weight:700;}
#dashboard-wrap .d-item-wrap.briefing > .s-union{width:108px;height:132px;padding-top:40px;background:url(../img/d/ico-union.svg) 50% 50% no-repeat;display:block;position: absolute;font-size:37px;font-weight:600;color:#fff;text-align:center;cursor:pointer;}
#dashboard-wrap .d-item-wrap.briefing > .s-union.on{background:url(../img/d/ico-union-active.svg) 50% 50% no-repeat;}
#dashboard-wrap .d-item-wrap.briefing > .s-union.lg{width:152px;height:187px;background-size:cover;font-size:43px;padding-top:59px;}

#dashboard-wrap .brief-timeline{position: absolute;left:50%;bottom:80px;transform:translateX(-50%);width:1879px;}
#dashboard-wrap .brief-timeline .timeline-area{display:flex;gap:0 24px;}
#dashboard-wrap .brief-timeline .timeline-area .btn-play{display:block;width:64px;height:64px;border-radius: 8px;backdrop-filter: blur(8px);border: solid 1px #34374c;background:rgba(33, 35, 50, 0.8) url(../img/d/ico-32-play-gray.png) 50% 50% no-repeat;flex-shrink:0;}
#dashboard-wrap .brief-timeline .timeline-area .btn-play:hover{background:rgba(31, 63, 87, 0.83) url(../img/d/ico-32-play-blue.png) 50% 50% no-repeat;border: solid 1px rgba(26, 194, 255, 0.25);}
#dashboard-wrap .brief-timeline .timeline-area .btn-play.on{background:rgba(33, 35, 50, 0.8) url(../img/d/ico-32-stop-gray.png) 50% 50% no-repeat;}
#dashboard-wrap .brief-timeline .timeline-area .btn-play.on:hover{background:rgba(31, 63, 87, 0.83) url(../img/d/ico-32-stop-blue.png) 50% 50% no-repeat;border: solid 1px rgba(26, 194, 255, 0.25);}
#dashboard-wrap .brief-timeline .timeline-area .timeline{padding:12px 24px 0;height:64px;border-radius: 8px;backdrop-filter: blur(8px);background-color: rgba(33, 35, 50, 0.7);flex-grow:1;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-horizon.ui-widget-content{background-color: rgba(255, 255, 255, 0.5);height:6px;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-horizon-area{padding:0 8px;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-horizon:before,
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-horizon:after{height:6px;width:8px;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-horizon:before{left:-8px;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-horizon:after{background-color: rgba(255, 255, 255, 0.5);right:-8px;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-tooltip{position: absolute;display:inline-block;font-size:18px;font-weight:600;line-height:1.56;color:#fff;background-color:#19b2e8;padding:6px 18px;border-radius:8px;top:-70px;left:0;white-space:nowrap;margin-left:-49px;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-tooltip::after{content:'';display:inline-block;position: absolute;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:10px solid #19b2e8;left:50%;bottom:-10px;margin-left:-8px;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .slider-horizon.ui-slider .ui-slider-handle{width:16px;height:16px;margin-left:-8px;top:-6px;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .date{width:6px;height:6px;border-radius:50%;position: absolute;top:0;z-index:1;/*mix-blend-mode:difference;*/background-color:#fff;}
#dashboard-wrap .d-item-wrap.briefing .brief-timeline .date em{font-size:20px;font-weight:600;color:#b2bbce;position: absolute;top:7px;line-height:1.47;left:50%;transform:translateX(-50%);}

#dashboard-wrap .brief-timeline .detail-area{padding:32px;border-radius: 8px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);background-color: rgba(33, 35, 50, 0.8);margin-top:45px;}
#dashboard-wrap .brief-timeline .detail-area .tit{font-size:28px;font-weight:600;line-height:1.5;color:#1ac2ff;}
#dashboard-wrap .brief-timeline .detail-area .detail-swiper{margin-top:30px;overflow:hidden;position: relative;}
#dashboard-wrap .brief-timeline .detail-swiper .swiper-slide{width:144px;position: relative;text-align:center;border-right:1px solid #495367;}
#dashboard-wrap .brief-timeline .detail-swiper .swiper-slide.gubn{border-right:1px solid #00bbfe;}
#dashboard-wrap .brief-timeline .detail-swiper .swiper-slide:last-child{border-right:0;}
#dashboard-wrap .brief-timeline .detail-swiper .swiper-slide span{display:block;}
#dashboard-wrap .brief-timeline .detail-swiper .swiper-slide .time{font-size:22px;color:#fff;line-height:1.53;font-weight:700;}
#dashboard-wrap .brief-timeline .detail-swiper .swiper-slide .con{font-size:20px;color:#778298;line-height:1.47;font-weight:600;}
#dashboard-wrap .brief-timeline .detail-swiper .swiper-slide .color{width:52px;height:52px;border-radius:50%;margin:9px auto 0;}
#dashboard-wrap .brief-timeline .detail-area .btn-prev,
#dashboard-wrap .brief-timeline .detail-area .btn-next{display:block;width:44px;height:44px;border-radius:22px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);background-color: #3e4157;position: absolute;top:150px;z-index:1;background-repeat:no-repeat;background-position:50% 50%;background-image:url(../img/d/ico-24-next-gray.png);}
#dashboard-wrap .brief-timeline .detail-area .btn-prev:hover,
#dashboard-wrap .brief-timeline .detail-area .btn-next:hover{background-color: #385470;background-image:url(../img/d/ico-24-next-blue.png);}
#dashboard-wrap .brief-timeline .detail-area .btn-prev{left:10px;transform:rotate(180deg);}
#dashboard-wrap .brief-timeline .detail-area .btn-next{right:10px;}
#dashboard-wrap .brief-timeline .detail-area .btn-prev.swiper-button-disabled,
#dashboard-wrap .brief-timeline .detail-area .btn-next.swiper-button-disabled{display:none;}

#dashboard-wrap .chart-wrap{position: absolute;border: solid 1px rgba(26, 194, 255, 0.5);border-radius: 8px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);}
#dashboard-wrap .chart-wrap > dl > dt{padding:20px 32px;font-size:22px;font-weight:700;color:#19b2e8;line-height:1.53;background-color: rgba(26, 194, 255, 0.15);}
#dashboard-wrap .chart-wrap > dl > dd{background-color: rgba(33, 35, 50, 0.8);padding:24px 0;}

