@charset "utf-8";

body{width:100%;overflow:hidden;}
#wrap{min-width:1825px;background-color:#212332;height:100vh;overflow-y:auto;padding-top:66px;}

/* login */
.login-wrap#wrap{position:relative;overflow:hidden;background-color:#000;min-width:initial;min-height:740px;}
.login-wrap .login-video{position:absolute;left:50%;top:50%;width:100%;min-width:1920px;transform:translate(-50%, -50%);}
.login-wrap .login-area{position:absolute;right:40px;top:0;width:560px;height:100%;-webkit-backdrop-filter: blur(16px);backdrop-filter: blur(16px);background-color: rgba(42, 45, 62, 0.8);display:flex;align-items:center;justify-content:center;padding:0 80px;}
.login-wrap .login-box{width:100%;}
.login-wrap .login-box h1{text-align:center;}
.login-wrap .login-box .tab-base{margin-top:24px;}
.login-wrap .login-box .btn-base{width:100%;}
.login-wrap .find-area{display:flex;justify-content:space-between;align-items:center;margin-top:32px;}
.login-wrap .find-area .label{font-size:13px;color:#b2bbce;}
.login-wrap .find-area .btn{font-size:14px;font-weight:500;color:#00bbfe;line-height:1.5;}
.login-wrap .find-area .btn:hover{text-decoration:underline;}
.login-wrap .login-copy{position: absolute;left:0;bottom:32px;width:100%;text-align:center;font-size:13px;line-height:1.5;}
.login-wrap .login-copy dt{color:#b2bbce;font-weight:bold;}
.login-wrap .login-copy dd{color:#778298;margin-top:8px;}

/* common */
#header{height:66px;box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);background-color: #2a2d3e;padding:25px 30px;display:flex;justify-content:space-between;align-items:center;position:fixed;left:0;top:0;width:100%;z-index:2;}
#header .item-area{display:flex;gap:0 8px;align-items:center;}
#header .item-area #gnb{font-size:0;}
#header .item-area #gnb li{padding:0 24px;display:inline-block;}
#header .item-area #gnb li a{font-size:16px;font-weight:500;color:#b2bbce;display:inline-block;padding:25px 0;position: relative;}
#header .item-area #gnb li:not(.disabled).on a,
#header .item-area #gnb li:not(.disabled):hover a{color:#fff;}
#header .item-area #gnb li:not(.disabled).on a::before,
#header .item-area #gnb li:not(.disabled):hover a::before{content:'';display:block;width:100%;height:2px;box-shadow: 0 -2px 8px 0 rgba(26, 194, 255, 0.5);background-color: #00bbfe;position: absolute;left:0;bottom:0;}
#header .item-area #gnb li.disabled a{color:#778298;cursor:default;pointer-events:none;}
#header .item-area #utilmenu{padding:4px 12px;border-radius:4px;background-color:#212332;font-size:0;height:32px;}
#header .item-area #utilmenu li{display:inline-block;vertical-align:middle;margin-left:8px;}
#header .item-area #utilmenu li:first-child{margin-left:0;}
#header .bookmark-area{position:absolute;right:30px;top:50px;width:192px;padding:12px;background-color:#3e4157;border-radius:4px;padding:8px 0;display:none;}
#header .bookmark-area li a{display:flex;padding:4px 12px;font-size:13px;font-weight:500;color:#b2bbce;line-height:1.5;align-items:center;gap:0 4px;}
#header .bookmark-area li a:hover{color:#1ac2ff;}
#header .bookmark-item{display:flex;justify-content:space-between;align-items:center;padding:0 4px 0 12px;margin-top:10px;}
#header .bookmark-item .btn-text{color:#00bbfe;display:flex;align-items:center;gap:0 4px;line-height:21px;font-size:14px;}

#container{padding:20px;}
.content-wrap{background-color:#2a2d3e;border-radius:4px;overflow:hidden;}
.content-wrap .content-top{height:45px;display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid rgba(26, 194, 255, 0.15);position: relative;}
.content-wrap .content-top .menu-area{display:flex;align-items:center;padding-right:44px;overflow:hidden;}
.content-wrap .content-top .menu-area .s-ico.home{width:44px;height:44px;flex-shrink:0;background-color:#2a2d3e;position: relative;z-index:2;}

.menu-swiper .swiper-slide{width:auto;position: relative;}
.menu-swiper .swiper-slide .label{font-size:14px;line-height:1.5;font-weight:500;padding:11.5px 40px 11.5px 20px;display:block;color:#778298;}
.menu-swiper .swiper-slide .s-ico.close{position:absolute;right:12px;top:14px;background:url(../img/ico-16-close-def.png) 50% 50% no-repeat;}
.menu-swiper .swiper-slide.on{background-color: rgba(26, 194, 255, 0.15);}
.menu-swiper .swiper-slide.on .label{color:#00bbfe;}
.menu-swiper .swiper-slide.on .s-ico.close{background:url(../img/ico-16-close-sel.png) 50% 50% no-repeat;}

.content-wrap .content-top .navi-area{position: absolute;right:0;background-color:#2a2d3e;z-index:1;padding:0 3px;height:44px;display:flex;align-items:center;}
.content-wrap .content-top .navi-area .s-ico{width:16px;height:16px;margin-left:6px;}
.content-wrap .content-top .navi-area .s-ico:first-child{margin-left:0;}
.content-wrap .content-top .navi-area .swiper-button-lock{display:block;}
.content-area{display:flex;width:100%;}
/* .content-area{min-height:778px;} */
.content-area > .left-area, .content-area > .right-area{width:50%;height:100%;}
.content-area > .content-inner{padding:20px;width:100%;}
.content-area.c-scrollbar > .content-inner::after{content:'';height:20px;display:block;}
.content-area .content-frame{margin-top:16px;position: relative;}
.content-area .content-frame.w-full{width:100%;}
.content-area .content-frame.bg{background:#34374c;}
.content-line{border-top:1px solid #212332;position: relative;margin-top:16px;}
.content-line::before, .content-line::after{content:'';display:block;width:20px;height:1px;background-color: #212332;position: absolute;top:0;}
.content-line::before{left:-20px;}
.content-line::after{right:-20px;}
.content-line > .tit-area:first-child{padding-top:16px;}
.content-frame-wrap{display:flex;gap:0 16px;width:100%;}
.content-frame-wrap > .content-frame,
.content-frame-wrap > .content-obj{width:50%;border-radius:4px;}
.content-frame-wrap > .content-obj{margin-top:16px;}
.content-frame-wrap > .btns-wrap{width:40px;display:flex;flex-direction:column;justify-content:center;gap:8px 0;}
.content-frame-wrap > .btns-wrap > a{display:block;width:40px;height:40px;background-color:rgba(26, 194, 255, 0.5);background-repeat:no-repeat;background-position:50% 50%;border-radius:4px;}
.content-frame-wrap > .btns-wrap > a.btn-in{background-image:url(../img/ico-24-in-def.png);}
.content-frame-wrap > .btns-wrap > a.btn-out{background-image:url(../img/ico-24-out-def.png);}

.content-frame-wrap.chart{gap:0 20px;}
.content-frame-wrap.chart > .content-frame:nth-child(1){width:496px;flex-shrink:0;}
.content-frame-wrap.chart > .content-frame:nth-child(2),
.content-frame-wrap.chart > .content-obj:nth-child(2){flex-grow:1;}

.content-frame-wrap.vms{gap:0 20px;}
.content-frame-wrap.vms > .content-frame:nth-child(1){width:520px;flex-shrink:0;}
.content-frame-wrap.vms > .content-frame:nth-child(2),
.content-frame-wrap.vms > .content-obj:nth-child(2){flex-grow:1;}

.content-frame-wrap.ftms{gap:0 20px;}
.content-frame-wrap.ftms > .content-frame:nth-child(1){width:180px;flex-shrink:0;}
.content-frame-wrap.ftms > .content-frame:nth-child(2){flex-grow:1;}

.content-frame-wrap.vds{gap:0 20px;}
.content-frame-wrap.vds > .content-frame:nth-child(1){width:496px;flex-shrink:0;}
.content-frame-wrap.vds > .content-frame:nth-child(2){flex-grow:1;}

.content-frame-wrap.remote{gap:0 20px;}
.content-frame-wrap.remote > .content-frame:nth-child(1){width:630px;flex-shrink:0;}
.content-frame-wrap.remote > .content-frame:nth-child(2),
.content-frame-wrap.remote > .content-obj:nth-child(2){flex-grow:1;}

.content-frame-wrap.monitoring{gap:0;}
.content-frame-wrap.monitoring .content-frame{margin-top:0;}
.content-frame-wrap.monitoring > .content-frame:nth-child(1),
.content-frame-wrap.monitoring > .content-frame:nth-child(3){width:430px;flex-shrink:0;}
.content-frame-wrap.monitoring > .content-frame:nth-child(2){flex-grow:1;}
.content-frame-wrap.monitoring .map-area{border-radius:0;}

#container.ver-lnb{display:flex;gap:0 20px;}
#container.ver-lnb .content-wrap{flex-grow:1;}

.left-wrap{width:212px;flex-shrink:0;}
.left-wrap h3.tit{font-size:16px;font-weight:700;line-height:1.5;color:#fff;}
.left-wrap .lnb-list{margin-top:12px;}
.left-wrap .lnb-list li{position: relative;}
.left-wrap .lnb-list > li{margin-top:1px;border-radius:4px;overflow:hidden;background-color: #2a2d3e;}
.left-wrap .lnb-list > li:first-child{margin-top:0;}
.left-wrap .lnb-list > li a.menu{display:block;font-size:14px;line-height:1.5;font-weight:500;color:#778298;padding:7.5px 24px 7.5px 12px;position: relative;}
.left-wrap .lnb-list > li a.menu.toggle::before{content:'';display:inline-block;width:16px;height:16px;background:url(../img/ico-24_arrow-treeopen-def.png) 50% 50% no-repeat;position: absolute;right:8px;top:10px;}
.left-wrap .lnb-list > li a.menu.active::after{content:'';display:inline-block;width:8px;height:8px;border-radius:50%;background-color:#fcbb25;margin-left:4px;}
.left-wrap .lnb-list > li > ul{display:none;}
.left-wrap .lnb-list > li > ul li a.menu{padding-left:20px;}
.left-wrap .lnb-list > li > ul li.on a.menu{color:#1ac2ff;}
.left-wrap .lnb-list > li:hover, .left-wrap .lnb-list > li.on{background-color: rgba(26, 194, 255, 0.15);}
.left-wrap .lnb-list > li.on a.menu{color:rgba(26, 194, 255, 0.5);}
.left-wrap .lnb-list > li:hover > a.menu, .left-wrap .lnb-list > li.on > a.menu{color:#1ac2ff;}
.left-wrap .lnb-list > li:hover a.menu:hover{color:#1ac2ff;}

.left-wrap .lnb-list > li.on > a.menu.toggle::before{background:url(../img/ico-24_arrow-treeclose-sel.png) 50% 50% no-repeat;}
.left-wrap .lnb-list > li.on > ul{display:block;}

.left-wrap .lnb-list li .s-ico{position: absolute;right:8px;top:10px;}
.left-wrap .lnb-list li.on .s-ico.star{background:url(../img/ico-16-star-sel2.png) 50% 50% no-repeat;}
.left-wrap .lnb-list li.on .s-ico.star.on{background:url(../img/ico-16-star-sel.png) 50% 50% no-repeat;}

#wrap.full{padding-top:0;}
#wrap.full #header{display:none;}
#wrap.full #container{padding:0;}
#wrap.full .left-wrap{display:none;}
#wrap.full .content-area{height:100vh !important;}
#wrap.full .content-wrap .content-top{display:none;}
#wrap.full .content-area .content-frame-wrap{height:100%;}
#wrap.full .content-area .content-frame{height:100% !important;}
#wrap.full .monitor-list > li > dl > dd .fac-info li{padding:25px 12px;}

/* S: 2024-11 */
.content-frame-wrap.type-2{gap:0;}
.content-frame-wrap.type-2 .content-frame{margin-top:0;border-radius:0;}
.content-frame-wrap.type-2 .map-area{border-radius:0;}
.content-wrap .content-top .s-ico.reset{position: absolute;right:52px;top:14px;z-index:1;}

.content-frame-wrap.type-3{gap:0 20px;}
.content-frame-wrap.type-3 > .content-frame:nth-child(1){flex-grow:1;}
.content-frame-wrap.type-3 > .content-obj:nth-child(2),
.content-frame-wrap.type-3 > .content-frame:nth-child(2){width:550px;flex-shrink:0;}
/* E: 2024-11 */

/* S: 2024-12 */
#wrap.parking-wrap{padding-top:0;}
#wrap.parking-wrap.without-navi .parking-navi{display:none;}
#wrap.parking-wrap.without-navi .parking-frame{padding-left:0;}

.parking-wrap .parking-navi{position:fixed;left:0;top:0;width:428px;height:100%;padding:20px;z-index:10;min-height:930px;}
.parking-wrap .parking-frame{margin-left:428px;height:100%;}
.parking-wrap .parking-area{position: relative;}
.parking-wrap .parking-area.type-1{width:2580px;height:1080px;background:url(../img/park/bg-yyi@2x.png) 0 0 no-repeat;background-size:2580px auto;}
.parking-wrap .parking-area.type-2{width:1492px;height:1790px;background:url(../img/park/bg-yyp@2x.png) 0 0 no-repeat;background-size:1492px auto;}
.parking-wrap .parking-area.type-3{width:2231px;height:1544px;background:url(../img/park/bg-pti@2x.png) 0 0 no-repeat;background-size:2231px auto;}
.parking-wrap .parking-area.type-4{width:1810px;height:1700px;background:url(../img/park/bg-ptp@2x.png) 0 0 no-repeat;background-size:1810px auto;}

.parking-status{margin-top:16px;border-radius:4px;overflow:hidden;}
.parking-status dt{background-color:#3e4157;padding:8px 12px;display:flex;justify-content:space-between;align-items:center;}
.parking-status dt span{font-size:16px;font-weight:700;line-height:1.5;color:#b2bbce;}
.parking-status dt .count em{color:#00bbfe;font-weight:inherit;}
.parking-status dd ul{display:flex;flex-wrap:wrap;}
.parking-status dd li{display:flex;width:50%;justify-content:space-between;padding:12px;background-color:#385470;font-size:16px;color:#1ac2ff;line-height:1.5;font-weight:700;margin-top:1px;}
.parking-status dd li.error{background-color:#46384b;color:#ef4345;}
.parking-status dd li:nth-child(even){border-left:1px solid #212332;}
.parking-ctype{margin-top:16px;padding:8px;padding: 8px;border-radius: 4px;background-color: #22779f;text-align:center;font-size:16px;font-weight:700;color:#fff;line-height:1.5;}
.parking-clist{margin-top:17px;}
.parking-clist > li{margin-top:17px;border-radius:3px;overflow:hidden;}
.parking-clist > li:first-child{margin-top:0;}
.parking-clist > li.blue{border:1px solid rgba(0, 187, 254, 0.8);}
.parking-clist > li.green{border:1px solid rgba(11, 190, 53, 0.8);}
.parking-clist > li.yellow{border:1px solid rgba(252, 187, 37, 0.8);}
.parking-clist > li.blue dt{background-color: rgba(0, 187, 254, 0.8);}
.parking-clist > li.green dt{background-color: rgba(11, 190, 53, 0.8);}
.parking-clist > li.yellow dt{background-color: rgba(252, 187, 37, 0.8);}
.parking-clist > li dt{font-size:16px;font-weight:700;color:#fff;line-height:1.5;text-align:center;padding:8px;}
.parking-clist > li dd{background-color:rgba(73, 83, 103, 0.4);background-position:50% 50%;background-size:cover;background-repeat:no-repeat;height:208px;display:flex;justify-content: center;align-items: center;}
.parking-clist > li dd .error{font-size:14px;font-weight:600;color:#b2bbce;opacity:0.4;text-align:center;display:block;line-height:1.5;}
.parking-clist > li dd .error::before{content:'';display:block;width:52px;height:52px;background:url(../img/park/ico-standby.png) 50% 50% no-repeat;margin:0 auto 6px;}

.pk-group{display:flex;position: absolute;gap:1px;}
.pk-group.reverse{flex-direction: row-reverse;}
.pk-group.vertical{flex-direction: column;}
.pk-group.vertical.reverse{flex-direction: column-reverse;}
.pk-obj{display:flex;justify-content: center;align-items: center;border-radius: 4px;font-size:12px;font-weight:bold;line-height:1.5;flex-direction:column;}
.pk-obj.horizon{flex-direction:row;gap:2px;}
.pk-obj.sm{width:32px;height:44px;}
.pk-obj.sm.horizon{width:50px;height:32px;}
.pk-obj.disabled::before, .pk-obj.electric::before{content:'';display:block;width:16px;height:16px;}
.pk-obj.disabled::before{background:url(../img/park/ico-16-disabled-def.png) 50% 50% no-repeat;}
.pk-obj.electric::before{background:url(../img/park/ico-16-electric-def.png) 50% 50% no-repeat;}
.pk-obj.md{width:40px;height:80px;}
.pk-obj.md.horizon{width:80px;height:40px;}
.pk-obj.lg{width:40px;height:120px;}
.pk-obj.lg.horizon{width:120px;height:40px;}
.pk-obj.blue{background-color: #385470;color:#1ac2ff;}
.pk-obj.gray{background-color: #3e4157;color:#b2bbce;}
.pk-obj.red{background-color: #734151;color:#ef4345;}
.pk-ico{display:inline-block;width:28px;height:28px;position: absolute;cursor:pointer;}
.pk-ico.vms{background:url(../img/park/ico-parking-vms-def.png) 50% 50% no-repeat;}
.pk-ico.vms.on{background:url(../img/park/ico-parking-vms-act.png) 50% 50% no-repeat;}

.pk-info-wrap{padding: 4px;border-radius: 4px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);background-color: rgba(33, 35, 50, 0.8);position: absolute;width: 340px;display: none;}
.pk-info-wrap.on{display:block;z-index:1;}
.pk-info-wrap .tit{font-size:16px;color:rgba(255, 255, 255, 0.9);display:flex;align-items: center;justify-content: center;gap: 0 4px;padding:8px 0;line-height:1.5;}
.pk-info-wrap .tit.arrow-left::before, .pk-info-wrap .tit.arrow-top::before, .pk-info-wrap .tit.arrow-bottom::before, .pk-info-wrap .tit.arrow-right::before,
.pk-info-wrap.reverse .tit.arrow-left::after, .pk-info-wrap.reverse .tit.arrow-top::after, .pk-info-wrap.reverse .tit.arrow-bottom::after, .pk-info-wrap.reverse .tit.arrow-right::after{content:'';display:inline-block;width:20px;height:20px;}
.pk-info-wrap.reverse .tit.arrow-left::before, .pk-info-wrap.reverse .tit.arrow-top::before, .pk-info-wrap.reverse .tit.arrow-bottom::before, .pk-info-wrap.reverse .tit.arrow-right::before{display:none;}

.pk-info-wrap .tit.arrow-left::before{background:url(../img/park/ico-16-arrow-left.png) 50% 50% no-repeat;}
.pk-info-wrap .tit.arrow-right::after{background:url(../img/park/ico-16-arrow-right.png) 50% 50% no-repeat;}
.pk-info-wrap .tit.arrow-top::before{background:url(../img/park/ico-16-arrow-top.png) 50% 50% no-repeat;}
.pk-info-wrap .tit.arrow-bottom::before{background:url(../img/park/ico-16-arrow-bottom.png) 50% 50% no-repeat;}
.pk-info-wrap .tit.arrow-right::before{background:url(../img/park/ico-16-arrow-right.png) 50% 50% no-repeat;}

.pk-info-wrap .pk-info-area{padding:16px 24px;border-radius: 4px;border: solid 2px #b2bbce;background-color: #1429c9;}
.pk-info-wrap .pk-info-list > li{display:flex;gap:0 16px;align-items: center;margin-top:11px;padding:3.5px 0;}
.pk-info-wrap .pk-info-list > li:first-child{margin-top:0;}
.pk-info-wrap .pk-info-list > li .result{display:flex;padding:4px 8px;background-color:#000;border-radius:4px;width:100px;height:47px;font-size:26px;line-height:1;font-weight:bold;justify-content:flex-end;align-items:center;}
.pk-info-wrap .pk-info-list > li .result.green{color:#0bbe35;}
.pk-info-wrap .pk-info-list > li .result.red{color:#ef4345;}
.pk-info-wrap .pk-info-list > li .result.yellow{color:#e3c208;}
.pk-info-wrap .pk-info-list > li .label-area{display:flex;gap:0 6px;align-items:center;}
.pk-info-wrap .pk-info-list > li .label-area .label{font-size:26px;font-weight:bold;color:#fff;}
.pk-info-wrap .pk-info-list > li .label-area .en{font-size:14px;color:#b2bbce;display:block;margin-top:3px;}
.pk-info-wrap .pk-info-list > li .label-area.disabled::before,
.pk-info-wrap .pk-info-list > li .label-area.electric::before{content:'';display:block;width:36px;height:42px;}
.pk-info-wrap .pk-info-list > li .label-area.disabled::before{background:url(../img/park/img-disabled.png) 50% 50% no-repeat;}
.pk-info-wrap .pk-info-list > li .label-area.electric::before{background:url(../img/park/img-electric.png) 50% 50% no-repeat;}

.pk-info-wrap .b-tit, .pk-info-wrap .p-tit{font-size:26px;font-weight:bold;line-height:1.5;color:#fff;text-align:center;}
.pk-info-wrap .p-tit{display:flex;align-items: center;justify-content: center;gap:0 10px;letter-spacing:5px;}
.pk-info-wrap .p-tit span{display:flex;width:32px;height:32px;background-color:#fff;border-radius:4px;font-size:26px;line-height:1;color:#1429c9;font-weight:800;justify-content:center;align-items: center;text-align:center;}
.pk-info-wrap .b-tit + .p-tit{margin-top:1.5px;}
.pk-info-wrap .p-tit + .pk-info-list{margin-top:12.5px;}
.pk-info-wrap .pk-info-list.w-full > li{padding:4px 8px;background-color: #000;border-radius:4px;justify-content: space-between;}
.pk-info-wrap .pk-info-list.w-full > li .label{font-size:26px;font-weight:700;line-height:1.5;color:#fff;}
.pk-info-wrap .pk-info-list.w-full > li .result{width:auto;}

.pk-info-wrap.reverse .tit.arrow-left::after{background:url(../img/park/ico-16-arrow-left.png) 50% 50% no-repeat;}
.pk-info-wrap.reverse .tit.arrow-right::after{background:url(../img/park/ico-16-arrow-right.png) 50% 50% no-repeat;}
.pk-info-wrap.reverse .tit.arrow-top::after{background:url(../img/park/ico-16-arrow-top.png) 50% 50% no-repeat;}
.pk-info-wrap.reverse .tit.arrow-bottom::after{background:url(../img/park/ico-16-arrow-bottom.png) 50% 50% no-repeat;}
.pk-info-wrap.reverse .tit.arrow-right::after{background:url(../img/park/ico-16-arrow-right.png) 50% 50% no-repeat;}
.pk-info-wrap.reverse .pk-info-list > li{flex-direction: row-reverse;}
.pk-info-wrap.reverse .pk-info-list > li .label-area{flex-direction: row-reverse;text-align:right;}
/* E: 2024-12 */